{% trans_default_domain "views" %}
{% if notifications|length>0 %}

    <section class="part">
        <div class="container tabblad spacing">
            <ul class="nav nav-tabs">
                <li class="blauw active"><a href="#notificaties" data-toggle="tab">{{  notifications|length }} {{ "person.dash.notifications.notifications"|trans }}</a></li>
            </ul>

            <div class="tab-content clearfix blok special">
                <div class="tab-pane active" id="notificaties">
                    <div class="blokken">
                        {% for notification in notifications %}
                            <div class="blok cta">
                                <h4>{{ notification.text }}</h4>
                                <div class="cta">
                                <a href="{{ notification.actionLink }}" class="cta blauw">{{ "person.dash.notifications.see"|trans }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <script>
            var interval = setInterval(function() {
                if (typeof $ == 'undefined') return;
                clearInterval(interval);
                $("#notificatiesTab").css({"cursor" : "pointer" , "cursor" : "hand"});
                $("#notificatiesTab").on("click", function(){
                    $("#notificaties").toggle();
                })
            }, 10);
        </script>
    </section>

{% endif %}