{% extends "base.html.twig" %}

{% block title %}Vrijwilliger worden{% endblock %}

{% block body %}

	{% if not app.user %}
		<header>
			<h1>Vrijwilliger worden</h1>
			<p>Wil je vrijwilliger worden maar weet je niet goed hoe je eraan moet beginnen? <a href="{{ path("login") }}">Al vrijwilliger? Log dan hier in!</a></p>
			<p>Doorloop dan hieronder ons stappenplan. </p>
		</header>
	{% elseif app.user %}
		<header>
			<h1>Vrijwilliger worden</h1>
		</header>
	{% endif %}



	<div class="steps">

		{% if not app.user %}
			{{ form_start(form) }}
				<div class="step">
					<h2 class="steptitle">Maak een profiel aan</h2>
					{% block bron %}{% endblock %}
					<!-- <input type="hidden" value="{# block bron #}{# endblock #}" /> -->
					<fieldset>
						<h3>Persoonsgegevens</h3>
					    {{ form_row (form.firstname) }}
					    {{ form_row (form.lastname) }}
						{{ form_row (form.avatarFile) }}
					    {{ form_row (form.email) }}
					    {{ form_row (form.telephone) }}
					    {{ form_row (form.contactOrganisation) }}
					    {{ form_row (form.plainPassword.first) }}
					    {{ form_row (form.plainPassword.second) }}
						{{ form_row (form.submit) }}
					</fieldset>
				</div>
				<div class="step">
					<h2 class="steptitle">Contactgegevens</h2>
					<fieldset>
					    {{ form_row (form.username) }}
					    {{ form_row (form.street) }}
						{{ form_row (form.number) }}
						{{ form_row (form.bus) }}
						{{ form_row (form.postalcode) }}
					    {{ form_row (form.city) }}
						{{ form_row (form.linkedinUrl) }}
						{{ form_row (form.submit2) }}
						{{ form_row (form.backToRegistration) }}
					</fieldset>
				</div>
				<div class="step">
					<h2 class="steptitle">Vaardigheden</h2>
					<fieldset>
						{{ form_row (form.skills) }}
						{{ form_row (form.submit2) }}
						{{ form_row (form.backToGeneral) }}
					</fieldset>
				</div>
			    {# {{ form_row (form.termsAccepted) }} #}
			{{ form_end(form) }}

		{% endif %}
		{# gelijk voor ingelogde en niet-ingelogde gebruiker #}
		<section id="interessant" class="step">
			<h2 class="steptitle">Kijk welke vacatures interessant zijn</h2>
			<p>
				Geslaagd vrijwilligerswerk begint bij werk dat je interessant vindt.  In de sectie <a href="#zoekVacatures">zoek naar vacatures</a> kan je gemakkelijk te weten komen welke vacatures aansluiten bij jouw interesses.  Maar wat als je nog niet weet welke vacatures voor je interessant vindt?  Daarvoor hebben we een test ontwikkelt die je op weg helpt!
				<a href="{{ path("test_type") }}">
					<h3>Doe de vrijwilligerstest!</h3>
					En leer zo welke vacatures jou het meeste liggen.
				</a>
			</p>
		</section>

		<section class="step">
			<h2 class="steptitle">Bekijk de spelregels</h2>
		    {% embed "person/spelregels_vrijwilligers.html.twig" %}{% endembed %}
			{% embed "organisation/spelregels_organisatie.html.twig" %}{% endembed %}
		</section>

		<section id="zoekVacatures" class="step">
			<h2 class="steptitle">Zoek naar vacatures</h2>
			<p>
				Een interessante vacature vinden kan je op meerdere manieren...
		 	</p>
			<ul>
				<li>Eens je een profielpagina aanmaakt kan je kiezen uit volgende opties:</li>
						<ul>
							<li>Kijk naar de vacatures op jouw maat.  Ons systeem vergelijkt jouw profiel met de openstaande vacatures en kiest er de interessantste uit.</li>
							<li>Kijk naar de vacatures in de kijker.</li>
							<li>Kijk naar de recentste vacatures.</li>
						</ul>
				<li>Daarnaast kan je ook <a href="{{ path("test_type") }}">een test doen</a> om te kijken welk soort vacatures voor jou het interessantste zijn, of je kan de zoekfunctie gebruiken om naar vacatures te zoeken.  De zoekfunctie vind je steeds in de header terug, maar ook op je profielpagina en hieronder.
				</li>
			</ul>

			{# Search block #}
		    {% embed "search/basic_search.html.twig" with { 'withHistory': false } %}{% endembed %}
		</section>

		{# Vacature/organisatieblock #}
		{% if app.user %}
			<section id="vacaturesOpMaat" class="step">
				<h2 class="steptitle">Vacatures op maat</h2>
{# 		        {{ render(controller("AppBundle:Vacancy:vacaturesOpMaat", { "user": app.user } )) }} #}{# TODO: replace this by vacature block once finished (with all tabs) issue #155 & #163 #}
{{ render(controller("AppBundle:Vacancy:listSavedVacancies", { "user": app.user } )) }}
			</section>
		{% endif %}

		<section id="zoekVacatures" class="step">
			<h2 class="steptitle">Stel je kandidaat</h2>
			<p>
				Je kandidaat stellen kan niet eenvoudiger zijn.  Klik op de knop "solliciteer" onder een vacature en de organisatie zal onmiddelijk een verwittiging ontvangen dat jij kandidaat bent om hen voor die vacature te helpen.
			</p>
		</section>
	</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/forms.js") }}"></script>
{% endblock %}

