{% trans_default_domain "views" %}
{% extends "base.html.twig" %}

{% block title %}{{ "info.info"|trans }}{% endblock %}

{% block body %}

<div class="infoteksten">
	<div class="blok">
		<h3>Mag je vrijwilligers inschakelen? </h3>

		<img src="{{ asset("images/infopage/verhuiswielermuseum2.jpg") }}" alt="Verfhuis fietsen wielermuseum"  class="verhaal" />
		<p>Elke feitelijke vereniging, private of publieke rechtspersoon zonder winstoogmerk mag vrijwilligers inschakelen: </p>
		<ul>
			<li>een vzw, denk aan De Roma, Borgerstein, Joka, ... </li>
			<li>een lokale afdeling van een koepel, zoals een afdeling van KVG, Femma, s-plus, ... </li>
			<li>een feitelijke vereniging, door minstens 2 personen geleid, bijvoorbeeld een straatcomité,  een dartsclub</li>
			<li>een stichting van openbaar nut, zoals Het Rode Kruis</li>
			<li>openbare besturen, denk maar aan een gemeente, OCMW, een school, een bibliotheek</li>
			<li>ivzw's (internationale vzw's) als Don Bosco Youth-Net</li>
		</ul>
		<p><strong>Opgelet!</strong> Organisaties mét winstoogmerk, zelfstandigen of individuele personen kunnen nooit vrijwilligerswerk organiseren volgens de wet. Dat betekent dat de mensen die daar onbezoldigd werken, niet dezelfde bescherming genieten als in bovenstaande organisaties. Ze zijn dus niet immuun en vergoedingen zijn belastbaar. </p>
		<p><strong>Vennootschap met sociaal oogmerk?</strong> Ook voor dit soort organisaties is het niet vanzelfsprekend om vrijwilligers in te schakelen. Organisaties die met vrijwilligers mogen werken, hebben geen winstoogmerk. Zelfs als er geen vermogenswinstdeling voor de vennoten wordt voorzien in de statuten, blijft dit een grijze zone omwille van de handelspraktijken en raden we af om zomaar met vrijwilligers aan de slag te gaan. </p>
		<h4>Werknemers uit de eigen organisatie als vrijwilliger?  </h4>
		<p>Wie tegen betaling in opdracht werkt van een organisatie, mag niet zomaar vrijwilligen in diezelfde organisatie. Dat mag enkel als het vrijwilligerswerk wezenlijk anders is dan de betaalde activiteit. </p>

		<a href="#top" class="totop">naar boven</a>
	</div>

	<div class="blok">
		<h3>Informeer je vrijwilligers! </h3>
		<p>Vertel je vrijwilligers </p>
		<ul>
			<li>Wat het doel is van je organisatie: waar ben je mee bezig?</li>
			<li>Welk soort organisatie je bent: vzw, feitelijke vereniging, gemeentebestuur...</li>
			<li>Welke verzekeringen er zijn afgesloten voor vrijwilligers</li>
			<li>Welke kosten er eventueel terugbetaald worden, hoe en wanneer die betaald worden</li>
			<li>Dat vrijwilligers zich moeten houden aan de geheimhoudingsplicht</li>
		</ul>

		<p>Je mag zelf kiezen op welke manier ze je deze informatie geeft. Sommige organisaties vragen je een nota te ondertekenen. Anderen zetten deze informatie op de website, een intranet of in een ledenboekje. <a href="http://www.vlaanderenvrijwilligt.be/wp-content/uploads/2015/11/Informatienota-vrijwilligers-met-uitleg.pdf" target="_blank">Bekijk hier een informatienota</a>.</p>
		<p>Valt je organisatie onder het Vlaams Decreet Vrijwilligerswerk dan moet je een afsprakennota opmaken. Bekijk hier een voorbeeld van <a href="http://www.vlaanderenvrijwilligt.be/wetgeving/modeldocumenten/" target="_blank">zo'n afsprakennota</a></p>

		<a href="#top" class="totop">naar boven</a>
	</div>

	<div class="blok">
		<h3>Zorg voor een verzekering! </h3>
		<img src="{{ asset("images/infopage/wielermuseum.jpg") }}" alt="Vrijwilliger wielermuseum"  class="verhaal" />
		<p>De vrijwilligerswet maakt vrijwilligers immuun. Als een vrijwilliger een fout maakt waarbij iemand anders schade heeft, is de organisatie daar aansprakelijk voor. De organisatie dient die schade te vergoeden of te herstellen. <strong>Zorg dat je hiervoor verzekerd bent.</strong> </p>
		<p>Sommige organisaties hebben een verzekeringsplicht, minstens voor Burgerrechtelijke Aansprakelijkheid van de organisatie en van elke vrijwilliger voor schade (BA-polis). Je bepaalt zelf voor een stuk hoe de verzekering gestalte krijgt. Zorg ervoor dat jezelf en je vrijwilligers goed ingelicht zijn. </p>
		<p><strong>Opgelet</strong> </p>
		<ul>
			<li>schade aan zichzelf – lichamelijke ongevallen – valt niet onder Burgerrechtelijke Aansprakelijkheid (BA-polis).</li>
			<li>Niet elke verzekeraar voorziet ook een waarborg voor de aansprakelijkheid op weg naar de activiteit en terug. Je bespreekt dit best met je verzekeraar. Je bent en blijft aansprakelijk als organisatie, of dit nu in de waarborg zit of niet.</li>
		</ul>
		<p>Bekijk hier een <a href="http://www.vlaanderenvrijwilligt.be/wp-content/uploads/2015/11/Modelinhoud-polis-BA.pdf" target="_blank">degelijke verzekeringspolis Burgerrechtelijke Aansprakelijkheid</a> </p>
		<p><a href="http://www.vlaanderenvrijwilligt.be" target="_blank" class="readmore">Bekijk zeker ook vlaanderenvrijwilligt.be voor meer info</a></p>

		<h4>Gratis verzekering voor vrijwilligers </h4>
		<p>De Nationale Loterij financiert een gratis verzekering voor vrijwilligers. Je kan gebruik maken van deze verzekering via je provincie. Deze collectieve verzekering is vooral interessant voor occasionele of tijdelijke initiatieven. De organisatie kan gratis maximum 100 mandagen verzekeren. Een mandag is opgebruikt van zodra een vrijwilliger aan de slag gaat, ook al is het maar voor een uurtje. </p>
		<p>De verzekering biedt waarborgen voor: </p>
		<ul>
			<li>Burgerrechtelijke, buitencontractuele aansprakelijkheid</li>
			<li>Rechtsbijstand</li>
			<li>Lichamelijke ongevallen</li>
		</ul>
		<p><a href="http://www.belfius-verzekeringen.be/dossier-en-achtergrondinformatie/vrijwilligerswerk/provincies/#.V9p37v5f2Ul" target="_blank">Meer informatie over de gratis verzekering</a></p>

		<a href="#top" class="totop">naar boven</a>
	</div>

	<div class="blok">
		<h3>Vergoed je onkosten? </h3>
		<p>Vrijwilligerswerk hoeft niet vergoed te worden. Als je onkosten van je vrijwilligers wil vergoeden kan je dit op twee manieren doen. </p>

		<img src="{{ asset("images/infopage/paddenoversteek.jpg") }}" alt="Vrijwilligers paddenoversteek" class="verhaal" />
		<h4>Een forfaitaire vergoeding + kilometervergoeding </h4>
		<p>De forfaitaire vergoeding kan je geven zonder dat er bewijsstukken tegenover staan. Je moet wel rekening houden met maximum bedragen per dag én per jaar. Deze maxima worden jaarlijks geïndexeerd. Je kan natuurlijk ook een lager bedrag afspreken met je vrijwilligers. De kostenvergoedingen voor het vrijwilligerswerk in 2016, bedragen maximum 32,71 euro per dag met een maximum van 1308,38 euro per jaar. </p>
		<p>Bovenop deze vergoeding kan je ook beperkt vervoerskosten terugbetalen: tot maximaal 2.000 km per jaar per vrijwilliger. Het aantal gereden kilometers moet je bewijzen met onkostennota's. Kijk de geïndexeerde maximum kilometervergoeding elk jaar even na. </p>
		<p>Als je voor deze vergoeding kiest dien je dit administratief op te volgen: </p>
		<ul>
			<li>Leg een nominatieve lijst per jaar aan, met de gegevens van de vrijwilligers die een forfaitaire vergoeding krijgen, de dag waarop ze een vergoeding kregen en het bedrag.</li>
			<li>Registreer de uitbetaalde vrijwilligersvergoedingen in de boekhouding of kas onder werkingskosten. Als bewijsstuk gebruik je de bankverrichtingen of een ontvangstbewijs.</li>
		</ul>
		<p><strong>Opgelet!</strong> </p>
		<ul>
			<li>Stel geen fiscale fiches op voor de vrijwilligers. Dan beschouwt de fiscus de ontvangen bedragen als een inkomen, waarop belasting betaald moet worden.</li>
			<li>Zorg ervoor dat de maxima nooit worden overschreden.</li>
			<li>Betaal de vergoeding tijdig uit. De fiscus kijkt naar het jaar waarin de vergoeding is gegeven. </li>
			<li>Geef geen vergoedingen per uur: je kan onmogelijk de onkosten berekenen op uurbasis. Je riskeert dat de fiscus dit niet aanvaardt of dat je de maximum bedragen snel overschrijdt.</li>
		</ul>

		<a href="#top" class="totop">naar boven</a>
	</div>

	<div class="blok">
		<img src="{{ asset("images/infopage/traxbar2.jpg") }}" alt="Vrijwilligers TRAX Festival"  class="verhaal" />
		<h3>Een reële kostenvergoeding </h3>
		<p>Bij de reële kostenvergoeding betaal je kosten terug op basis van bewijsstukken. Dat kunnen kassaticketjes, facturen of onkostennota's voor gereden kilometers zijn. De reële kostenvergoeding heeft geen bovengrens; maar je moet natuurlijk niet overdrijven. </p>
		<p>Als je voor deze vergoeding kiest dien je dit administratief op te volgen: </p>
		<ul>
			<li>Bewaar de bewijsstukken voor de boekhouding en registreer aan wie de kosten werden terugbetaald.</li>
			<li>Registreer de uitbetaalde vrijwilligersvergoedingen in de boekhouding of kas onder werkingskosten. Als bewijsstuk gebruik je de bankverrichtingen of een ontvangstbewijs.</li>
		</ul>

		<p><strong>Opgelet!</strong> </p>
		<ul>
			<li>Stel geen belastingsfiches op voor de vrijwilligers. Dan beschouwt de fiscus de ontvangen bedragen als een inkomen, waarop belasting betaald moet worden.</li>
			<li>Zorg ervoor dat de maximum bedragen van de kilometervergoedingen niet worden overschreden.</li>
			<li>Betaal de vergoeding tijdig uit. De fiscus kijkt naar het jaar waarin de vergoeding is gegeven. </li>
		</ul>
		<p>Bekijk hier enkele voorbeelden van onkostennota's</p>
		<ul>
			<li><a href="http://www.vlaanderenvrijwilligt.be/wp-content/uploads/2015/10/Kilometervergoeding-vrijwilligers-juni-2016.xlsx" target="_blank">Kilometervergoeding</a></li>
			<li><a href="http://www.vlaanderenvrijwilligt.be/wp-content/uploads/2015/10/forfaitaire-kostenvergoeding-modelformulier-juni-2016.docx" target="_blank">Forfaitaire vergoeding</a></li>
			<li><a href="http://www.vlaanderenvrijwilligt.be/wp-content/uploads/2015/11/Onkostennota-re%C3%ABle-vergoeding-vrijwilligers.xlsx" target="_blank">Reële onkostenvergoeding</a></li>
			<li><a href="http://www.vlaanderenvrijwilligt.be/wp-content/uploads/2015/11/nominatieve-lijst-vergoedingen.xlsx" target="_blank">Nominatieve lijst vergoedingen</a></li>
		</ul>

		<a href="#top" class="totop">naar boven</a>
	</div>

</div>




{% endblock %}
