{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "info.about"|trans }}{% endblock %}

{% block body %}

<div class="infoteksten">
	<div class="blok">

	<h1>Over ons</h1>
<p>{{"general.sitename"|trans}} vrijwilligt is een open, autonoom platform dat samenwerking stimuleert en ondersteunt in {{"general.sitename"|trans}}.</p>

<p>{{"general.sitename"|trans}} vrijwilligt</p>

<ul>
	<li>ondersteunt jou om je interesses en talenten te tonen, te ontplooien en maatschappelijk te delen.</li>
	<li>ondersteunt jouw organisatie in de zoektocht naar menselijk kapitaal.</li>
</ul>

<p>{{"general.sitename"|trans}} Vrijwilligt is een initiatief van Stad en OCMW {{"general.sitename"|trans}}, 't hope vzw, Groep Intro vzw en Voc Opstap vzw.</p>

<p>Het platform werd ontwikkeld door Howest.</p>
</div>

<div class="blok">

<h2>Contactgegevens:</h2>
<p><strong>Vrijetijdspunt</strong>
	<br/>Zuidstraat 17, 8800 {{"general.sitename"|trans}}
</p>

<dl>
	<dt>tel:</dt>
	<dd>051 26 24 00</dd>
	<dt>mail:</dt>
	<dd><a href="{{ path("info_contact") }}">contacteer ons</a></dd>
</dl>
</div></div>
{% endblock %}
