{% trans_default_domain "views" %}
<p>{{"general.sitename"|trans}} {{"general.siteslogan"|trans}} {{ "info.rules.org.intro"|trans }}</p>
<ul>
	<li>{{ "info.rules.org.honour"|trans }}</li>
	<li>{{ "info.rules.org.respect"|trans }}</li>
	<li>{{ "info.rules.org.privacy"|trans }}</li>
	<li>{{ "info.rules.org.insurance"|trans }}</li>
    <li>{{ "info.rules.org.guidance"|trans }}</li>
</ul>