{% trans_default_domain "views" %}
<p>{{ "info.rules.volunteer.intro"|trans }}</p>
<ul>
	<li>{{ "info.rules.volunteer.honour"|trans }}</li>
	<li>{{ "info.rules.volunteer.secret"|trans }}</li>
	<li>{{ "info.rules.volunteer.respect"|trans }}</li>
	<li>{{ "info.rules.volunteer.legal"|trans }}</li>
</ul>