{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "info.stories.title"|trans }}{% endblock %}

{% block body %}

<div class="blok">
	<h3>Madina (19 jaar).</h3>
	<img src="{{ asset("images/verhalen/madina.jpg") }}" class="verhaal" />
	<p>Ik werk al enkele jaren als vrijwilliger op de Speelpleinwerking Speelodroom en vind het vooral leuk bij de kleuters. Ik sta altijd paraat om in te springen wanneer er een animator wegvalt. Bij de kleuters doen ze allerlei leuke activiteiten, toneeltjes, ... Ik kan gemakkelijk van niets of van heel weinig materiaal hele leuke spelletjes maken. </p>

	<p>Ik doe vrijwilligerswerk omdat ik het vooral graag doe, ik speel graag met de kindjes en vind dat altijd fijn. Maar ook met de animatoren beleven we een superleuke tijd, het is een toffe bende. Ik probeer steeds voor toffe, kleine attenties te zorgen bij de verschillende kleuteranimatoren. Bijvoorbeeld de chocotoffs van hoofdmoni Lotte stelen en daarna ingepakt teruggeven.  </p>

	<p>Een leuke speelpleinanekdote is toen een klein kleutertje gestraft was omdat hij met water had gespeeld. Toen ik hem daarop aansprak pakte hij mijn twee wangen vast met zijn kleine handjes en zei: 'mag niet met water spelen' en daarna gaf hij een zoentje op mijn neus.</p>
</div>

<div class="blok">
	<h3>Jochen (24 jaar).</h3>
	<img src="{{ asset("images/verhalen/jochen.jpg") }}" class="verhaal" />
	<p>Ik ben Jochen en ben 1 van de TRAX buddies. Eventjes kort beschrijven wat zoal onze taak is op de trax site in Roeselare. Aangestuurd door een vaste medewerker van de stad zorgen wij voor begeleiding tijdens verschillende evenementen. Gaande van uitleg over gebruik van de verschillende lokalen tot bijvoorbeeld de koffiezet, tapinstallatie of de klank en lichtinstallatie.   Ook staan we paraat voor alle mogelijke vragen die een huurder kan hebben.  Tijdens de week passeer ik regelmatig op de site, zo controleren we kort de omgeving op eventuele vandalisme.
		Ook opvolging van het onderhoud van de gebouwen, defecten en materialen die zware slijtage leden worden gemeld.
		Soms jeukt het ook om zelf de kleine herstellingen te doen. Een schroef aandraaien, een klink herstellen, ... noem maar op. </p>

	<p>Het leuke is dat we dit samen doen met een toffe groep vrijwilligers. Zelf ben ik trots dat ik dit kan en mag doen. Dat ik genoeg vertrouwen krijg vanuit de stad om mijn te engageren als vrijwilliger.  Je kan zeggen dat ik trots ben aan mijn bescheiden bijdrage aan het geheel wat TRAX ondertussen is.  </p>
</div>

<div class="blok">
	<h3>Reinout (23 jaar).</h3>
	<img src="{{ asset("images/verhalen/reinout.jpg") }}" class="verhaal" />
	<p>Eén van mijn engagementen is vrijwilliger voor het Trax Festival. Ik zorg er voor de communicatie. Samen met anderen probeer ik Trax Festival dus gekend te maken. Want wat ben je met een gratis festival als er niemand van op de hoogte is? Naast het nadenken over communicatiemiddelen en strategieën ben ik vooral bezig met het opvolgen van sociale media. Mijn smartphone zit dus nooit ver weg. Ooh ja, je kan ons trouwens altijd volgen via Facebook, Twitter, Instagram en Snapchat! </p>

	<p>Vrijwilligerswerk brengt jou gewoon erg veel bij, zowel op persoonlijk als professioneel vlak. Het zorgt voor passie en doorzettingsvermogen. Je zet je samen met een team in voor een goed doel. Als op het einde van de rit alles goed is verlopen, dan voel je je toch even in de zevende hemel. Adrenaline en gelukshormonen stromen dan door je lijf. Je weet dat je door jouw vele uren werk iets leuk of goed hebt gedaan voor anderen. Dat geeft echt een goed gevoel! Vrijwilligerswerk zorgt dan ook nog eens voor enkele bonuspunten op jouw CV. Ik merkte dat bij een sollicitatiegesprek voor een stage of vakantiejob mijn engagementen vaak de doorslag gaven. Het zijn ervaringen die voor de rest van je leven in je rugzak zitten. </p>

	<p>Ik wil anderen toch ook wat 'waarschuwen'. Eenmaal je begint met vrijwilligerswerk, ben je niet meer te stoppen. Het zal deuren openen, een kick geven en voor extra energie zorgen. Je zal nooit meer terug willen naar het leventje waarbij je je in de vakantie aan het vervelen was en zat af te vragen wat je vandaag eens zou doen. Zo startte ik enkele maanden geleden mijn eigen bedrijf. En dit heb ik te danken aan vrijwilligerswerk. Het is door vrijwilligerswerk dat ik heb geleerd wat ik graag deed. Het is door het vrijwilligerswerk dat ik mij heb ontplooit. Het is door het vrijwilligerswerk dat ik mijn eerste klanten heb gevonden. </p>
</div>

<div class="blok">
	<h3>Gijs (61 jaar).</h3>
	<img src="{{ asset("images/verhalen/gijs.jpg") }}" class="verhaal" />
	<p>Ik ben vrijwilliger bij de Directeurswoning in Roeselare, daar doe ik het onthaal van bezoekers bij expo's.</p>

	<p>Ik koos voor vrijwilligerswerk want kunst en cultuur in de breedste zin van het woord onder de mensen brengen is de eerste stap naar verdraagzaamheid en respect, over alle politieke grenzen heen... </p>

	<p>Met een kop als de mijne krijg ik meermaals de vraag: 'Welke werken zijn de jouwe hier?' Waarop ik steevast antwoord: 'Geen enkele, ik ben gewoon levenskunstenaar' </p>
</div>


{% endblock %}