<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Talent Roeselen{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
            <link rel="stylesheet" type="text/css" href="{{ asset("style/vrijwilligt.css") }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset("style/feedback.css") }}" />
        {% endblock %}
        <script>
            var RV_GLOBALS = {
                "searchURL": "{{ path("api_search") }}",
                "usersearchURL": "{{ path("api_usersearch") }}",
            }
        </script>
        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}" />
        {%  block head %} {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div class="container">

 <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            {% embed "search/basic_search.html.twig" with { 'withHistory': false } %}{% endembed %}

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="{{ path("homepage") }}" class="logo navbar-brand"><h1>Roeselare vrijwilligt</h1></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                            <li><a href="{{ path("self_profile") }}">Mijn profiel</a></li>
                            <li><a href="{{ path("register_user") }}">Vrijwilliger worden</a></li>
                            <li><a href="{{ path("start_vacancy") }}">Vrijwilliger vinden</a></li>
                            <li><a href="{{ path("info_vrijwilligersinfo") }}">Vrijwilligersinfo</a></li>
                            <li><a href="{{ path("tests") }}">Tests</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path("info_over_ons") }}">(overons)</a></li>
                <li><a href="{{ path("info_contact") }}">(contact)</a></li>
                {% if app.user %}
                    <li><a href="{{ path("profile_edit") }}">(mijn profiel)</a></li>
                    <li><a href="{{ path("logout") }}">(logout)</a></li>
                {% else %}
                    <li><a href="{{ path("login") }}">(login)</a></li>
                {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>




                </div>
            </header>
        {% endblock %}

        {% block outerbody %}
            <div class="part"><div class="container">
                <main>
                    {% block body %}
                    {% endblock %}
                </main>
            </div></div>
        {% endblock %}


        {% block footernav %}
            <div class="part">
                <div id="footernav"><div class="container">
                    <nav class="bottom nav">
                        <section class="col-md-3">
                            <header><h1>Recente vacatures</h1></header>
                            {{ render(controller("AppBundle:Vacancy:listRecentVacancies", { "nr": 5 } )) }}
                        </section>
                        <section class="col-md-3">
                            <header><h1>Recente verenigingen</h1></header>
                            {{ render(controller("AppBundle:Organisation:listRecentOrganisations", { "nr": 5 } )) }}
                        </section>
                        <section class="col-md-3">
                            {{ render(controller("AppBundle:Skill:listParentSkills", { "nr": 10 } )) }}
                        </section>
                        <section class="col-md-3">
                            <header><h1>Vrijwilligersinfo</h1></header>
                            <ul>
                                <li><a href="{{ path("info_wetgeving") }}">Wetgeving</a></li>
                                <li><a href="{{ path("info_profiel") }}">Profiel van een vrijwilliger</a></li>
                                <li><a href="{{ path("info_vrijwilligersinfo") }}">Wat is vrijwilligerswerk</a></li>
                                <li><a href="{{ path("info_waarom") }}">Moeder waarom vrijwilligen wij? </a></li>
                                <li><a href="{{ path("info_spelregels") }}">Spelregels</a></li>
                                <li><a href="{{ path("info_faq") }}">Veelgestelde vragen</a></li>
                            </ul>
                        </section>
                        <section class="col-md-3">
                            <header><h1>Tests</h1></header>
                            <ul>
                                <li><a href="{{ path("test_type") }}">Welk type vrijwilliger ben ik? </a></li>
                                <li><a href="{{ path("test_taal") }}">Taaltest</a></li>
                                <li><a href="{{ path("test_comp") }}">Computervaardigheidstest</a></li>
                            </ul>
                        </section>
                        <section class="col-md-3">
                            <header><h1>Roeselare vrijwilligt</h1></header>
                            <ul>
                                <li><a href="{{ path("info_over_ons") }}">Over ons</a></li>
                                <li><a href="{{ path("info_contact") }}">Contact</a></li>
                            </ul>
                        </section>
                    </nav>
                </div></div>


                <section id="partners"><div class="container blokken">
                    <h3>Partners:</h3>
                    <div class="blok">
                        <a href="http://www.esf-vlaanderen.be/" target="_blank"><img src="{{ asset("images/partners/esf.png") }}" alt="logo Howest" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.roeselare.be" target="_blank"><img src="{{ asset("images/partners/roeselare.png") }}" alt="logo Howest" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.howest.be" target="_blank"><img src="{{ asset("images/partners/howest.png") }}" alt="logo Howest" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.ocmw-roeselare.be" target="_blank"><img src="{{ asset("images/partners/ocmwroeselare.png") }}" alt="logo OCMW Roeselare" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.thope.eu" target="_blank"><img src="{{ asset("images/partners/thope.jpg") }}" alt="logo 't hope vzw" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.groepintro.be" target="_blank"><img src="{{ asset("images/partners/groepintro-logo.png") }}" alt="logo Groep Intro vzw" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.vocopstap.be" target="_blank"><img src="{{ asset("images/partners/organogram-opstap-2015-png.png") }}" alt="logo Voc Opstap vzw" /></a>
                    </div>
                </div></section>
            </div>

            <footer>
                <div id="contactdata">
                    <div class="container">
                        <address class="col-md-3">
                            <h2>Roeselare Vrijwilligt</h2>
                            <p>Zuidstraat 17, 8800 Roeselare</p>
                            <dl>
                                <dt>telefoon: </dt>
                                <dd>051 26 24 00</dd>
                                <dt>e-mail:</dt>
                                <dd><a href="{{ path("info_contact") }}">Contact</a></dd>
                            </dl>
                        </address>
                        <div class="col-md-9">
                            <h3>Over ons</h3>
                            <p>Roeselare vrijwilligt is een open, autonoom platform dat samenwerking stimuleert en ondersteunt in Roeselare.</p>
                            <p>Roeselare vrijwilligt</p>
                            <ul>
                                <li>ondersteunt jou om je interesses en talenten te tonen, te ontplooien en maatschappelijk te delen.</li>
                                <li>ondersteunt jouw organisatie in de zoektocht naar menselijk kapitaal.</li>
                            </ul>
                            <p>Roeselare Vrijwilligt is een initiatief van Stad en OCMW Roeselare, 't hope vzw, Groep Intro vzw en Voc Opstap vzw.</p>
                            <p>Het platform werd ontwikkeld door Howest.</p>
                        </div>
                    </div>
                </div>
                <div id="legalfooter">
                    <div class="container">
                        <div class="col-md-6">
                            <span>&copy; 2016 <a href="http://www.howest.be" target="_blank">Howest</a> &amp; <a href="http://www.roeselare.be" target="_blank">Stad Roeselare</a></span> -
                            <span><a href="{{ path("info_privacy_and_legal") }}">Privacy en legale voorwaarden</a></span>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="https://www.facebook.com/Roeselare-Vrijwilligt-1358900620791380/?fref=ts" target="_blank">Bezoek onze Facebook-pagina</a></li>
                                <li>Bezoek ons op Google+</li>
                                <li>Volg ons op Twitter</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% embed "feedback/feedback.html.twig" %}{% endembed %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

            {#
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
               google.load("jquery", "1.4.2");
            </script>
            #}
            <script src="{{ asset("js/feedback.js") }}"></script>
            <script src="{{ asset("js/search.js") }}"></script>
        {% endblock %}
    </body>
</html>
