<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Talent Roeselen{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
            <link rel="stylesheet" type="text/css" href="{{ asset('style/reset.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('style/vrijwilligt.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {%  block head %} {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div class="logo">
                    <h1><a href="{{ path('homepage') }}"><span>Roeselare vrijwilligt</span></a></h1>
                    <span class="baseline">Baseline</span>
                </div>
                <form class="search" method="get" action="{{ path('zoeken') }} ">
                    <input type="text" name="q" id="searchq" placeholder="Zoeken" value="{% block search_term %}{% endblock %}" />
                </form>
                <nav class="about nav">
                    <ul>
                        <li><a href="{{ path('over_ons') }}">Over ons</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </nav>
                <nav class="top nav">
                    <ul>
                        <li><a href="{{ path('status_testing') }}">Mijn profiel</a></li>
                        <li><a href="{{ path('register_user') }}">Vrijwilliger worden</a></li>
                        <li><a href="{{ path('vereniging_aanmaken') }}">Vrijwilliger vinden</a></li>
                        <li><a href="{{ path('vrijwilligersinfo') }}">Vrijwilligersinfo</a></li>
                        <li><a href="">Tests</a></li>
                        <li>{% if app.user %}
                            <a href="{{ path('logout') }}">Uitloggen</a>
                            {% else %}
                            <a href="{{ path('login_testing') }}">Inloggen</a>
                            {% endif %}</li>
                    </ul>
                </nav>
            </header>
        {% endblock %}
        <main>
            {% block body %}
            {% endblock %}
        </main>
        {% block footer %}
            <nav class="bottom nav">
                <section>
                    <header><h1>Recente vacatures</h1></header>
                    <ul>
                        <li><a href="{{ path('vacancy_id', { 'id': 1 }) }}">Vacature</a></li>
                        <li><a href="{{ path('vacancy_id', { 'id': 2 }) }}">Vacature</a></li>
                        <li><a href="{{ path('vacancy_id', { 'id': 3 }) }}">Vacature</a></li>
                        <li><a href="{{ path('vacancy_id', { 'id': 4 }) }}">Vacature</a></li>
                        <li><a href="{{ path('vacancy_id', { 'id': 5 }) }}">Vacature</a></li>
                        <li><a href="{{ path('vacancy_id', { 'id': 6 }) }}">Vacature</a></li>
                        <li><a href="{{ path('vacancy_id', { 'id': 7 }) }}">Vacature</a></li>
                    </ul>
                </section>
                <section>
                    <header><h1>Recente vrijwilligers</h1></header>
                    <ul>
                        <li><a href="{{ path('person_id', { 'id': "beuntje" }) }}">Vrijwilliger</a></li>
                        <li><a href="{{ path('person_id', { 'id': "jelle" }) }}">Vrijwilliger</a></li>
                        <li><a href="{{ path('person_id', { 'id': "koen" }) }}">Vrijwilliger</a></li>
                    </ul>
                </section>
                <section>
                    <header><h1>Vacature types</h1></header>
                    <ul>
                        <li><a href="{{ path('zoeken', { 'cat': 'administratie' }) }}">Administratie</a></li>
                        <li><a href="{{ path('zoeken', { 'cat': 'Categorie 2' }) }}">Categorie 2</a></li>
                        <li><a href="{{ path('zoeken', { 'cat': 'Categorie 3' }) }}">Categorie 3</a></li>
                        <li><a href="{{ path('zoeken', { 'cat': 'Categorie 4' }) }}">Categorie 4</a></li>
                        <li><a href="{{ path('zoeken', { 'cat': 'Categorie 5' }) }}">Categorie 5</a></li>
                        <li><a href="{{ path('zoeken', { 'cat': 'Categorie 6' }) }}">Categorie 6</a></li>
                    </ul>
                </section>
                <section>
                    <header><h1>Vrijwilligersinfo</h1></header>
                    <ul>
                        <li><a href="{{ path('wetgeving') }}">Wetgeving</a></li>
                        <li><a href="">Profiel van een vrijwilliger</a></li>
                        <li><a href="{{ path('vrijwilligersinfo') }}">Wat is vrijwilligerswerk</a></li>
                        <li><a href="">Moeder waarom vrijwilligen wij? </a></li>
                        <li><a href="{{ path('spelregels') }}">Spelregels</a></li>
                        <li><a href="{{ path('faq') }}">Veelgestelde vragen</a></li>
                    </ul>
                </section>
                <section>
                    <header><h1>Tests</h1></header>
                    <ul>
                        <li><a href="">Welk type vrijwilliger ben ik? </a></li>
                        <li><a href="">Taaltest</a></li>
                        <li><a href="">Computervaardigheidstest</a></li>
                    </ul>
                </section>
                <section>
                    <header><h1>Roeselare vrijwilligt</h1></header>
                    <ul>
                        <li><a href="{{ path('over_ons') }}">Over ons</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </section>
            </nav>
            <section class="partners">
                <ul>
                    <li><a href="" target="_blank"><span>X logo</span></a></li>
                    <li><a href="" target="_blank"><span>X logo</span></a></li>
                    <li><a href="" target="_blank"><span>X logo</span></a></li>
                    <li><a href="" target="_blank"><span>X logo</span></a></li>
                </ul>
            </section>
            <footer>
                <address>
                    <span>Botermarkt 2</span>
                    <span>8800 Roeselare</span>
                    <span class="nav"><a href="mailto:info@talentroeselen.be">info@talentroeselen.be</a></span>
                    <span>051 26 21 11</span>
                </address>
                <div class="legal nav">
                    <span>&copy; 2016 <a href="http://www.howest.be" target="_blank">Howest</a> &amp; <a href="http://www.roeselare.be" target="_blank">Stad Roeselare</a></span>
                    <span><a href="{{ path('privacy_en_legal') }}">Privacy en legale voorwaarden</a></span>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
        <!-- Temp bootstrap -->
        <script src="{{ asset('js/tmp_bootstrap.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{{ asset('js/search.js') }}"></script>
    </body>
</html>
