{% trans_default_domain "views" %}
<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{"base.head.title"|trans}}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
            <link rel="stylesheet" type="text/css" href="{{ asset("style/vrijwilligt.css?v1") }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset("style/feedback.css") }}" />
        {% endblock %}
        <script>
            var RV_GLOBALS = {
                "searchURL": "{{ path("api_search") }}",
                "usersearchURL": "{{ path("api_usersearch") }}",
            }
        </script>
        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}" />
        {%  block head %} {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <div class="container mainnav">
                    <a href="{{ path("homepage") }}" class="logo"><h1>{{"base.body.header.title"|trans}}</h1></a>

                    <a class="burger" href="#menu" data-toggle="collapse" data-target=".hoofdnavigatie"><span></span><span></span><span></span></a>

                    <nav class="hoofdnavigatie">

                        {% embed "search/basic_search.html.twig" with { 'withHistory': false, 'withTitle': false } %}{% endembed %}

                        <ul class="usermenu">
                            <li><a href="{{ path("info_over_ons") }}" class="{% if app.request.attributes.get('_route') == 'info_over_ons' %}actief{% endif %}">{{ "base.body.header.menu.about"|trans }}</a></li>
                            <li><a href="{{ path("info_contact") }}" class="{% if app.request.attributes.get('_route') == 'info_contact' %}actief{% endif %}">{{ "base.body.header.menu.contact"|trans }}</a></li>
                            {% if app.user %}
                                <li><a href="{{ path("profile_edit") }}" class="{% if app.request.attributes.get('_route') == 'profile_edit' %}actief{% endif %}">{{ "base.body.header.menu.editprofile"|trans }}</a></li>
                                <li><a href="{{ path("logout") }}">{{ "base.body.header.menu.logout"|trans }}</a></li>
                            {% else %}
                                <li><a href="{{ path("login") }}" class="{% if app.request.attributes.get('_route') == 'login' %}actief{% endif %}">{{ "base.body.header.menu.login"|trans }}</a></li>
                            {% endif %}
                        </ul>

                        <ul class="mainmenu">
                            <li><a href="{{ path("self_profile") }}" class="{% if app.request.attributes.get('_route') == 'self_profile' %}actief{% endif %}">{{ "base.body.header.menu.profile"|trans|capitalize }}</a></li>
                            <li><a href="{{ path("register_user") }}" class="{% if app.request.attributes.get('_route') == 'register_user' %}actief{% endif %}">{{ "base.body.header.menu.become"|trans|capitalize }}</a></li>
                            <li><a href="{{ path("start_vacancy") }}" class="{% if app.request.attributes.get('_route') == 'start_vacancy' %}actief{% endif %}">{{ "base.body.header.menu.find"|trans|capitalize }}</a></li>
                            <li><a href="{{ path("info_algemeen") }}" class="{% if app.request.attributes.get('_route') == 'info_algemeen' %}actief{% endif %}{% if app.request.attributes.get('_route') == 'info_vrijwilligers' %}actief{% endif %}{% if app.request.attributes.get('_route') == 'info_organisaties' %}actief{% endif %}">{{ "base.body.header.menu.info"|trans|capitalize }}</a></li>
                            <li><a href="{{ path("test_test") }}" class="{% if app.request.attributes.get('_route') == 'test_test' %}actief{% endif %}">{{ "base.body.header.menu.tests"|trans|capitalize }}</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock %}

        {% for flashMessage in app.session.flashbag.get('default') %}
            <div class="alert alert-success basealert">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% block outerbody %}
            {% block extraheader %}{% endblock %}
            <div class="part"><div class="container">
                <main>
                    {% block body %}
                    {% endblock %}
                </main>
            </div></div>
        {% endblock %}
        <section data-role="newsletter" class="part">
            <div class="container">
                <section class="col-md-12">
                    <div class="blok special nieuwsbrief">
                        <h2>{{ "base.body.newsletter.cta"|trans }}</h2>
                        {# TODO: nieuwsbrief implementeren #}
                        <form action="{{ path("newsletter") }}" method="post">
                            <input type="email" name="mailadres" placeholder="e-mailadres" />
                            <input type="submit" value="inschrijven" class="cta" />
                        </form>
                    </div>
                </section>
            </div>
        </section>

        {% block footernav %}
            <div class="part">
                <div id="footernav"><div class="container">
                    <nav class="bottom nav">
                        <section class="col-md-3">
                            <header><h1>{{ "base.body.footer.recvac"|trans|capitalize }}</h1></header>
                            {{ render(controller("AppBundle:Vacancy:listRecentVacancies", { "nr": 5 } )) }}
                        </section>
                        <section class="col-md-3">
                            <header><h1>{{ "base.body.footer.recorg"|trans|capitalize }}</h1></header>
                            {{ render(controller("AppBundle:Organisation:listRecentOrganisations", { "nr": 5 } )) }}
                        </section>
                        <section class="col-md-3">
                            {{ render(controller("AppBundle:Skill:listParentSkills", { "nr": 10 } )) }}
                        </section>
                        <section class="col-md-3">
                            <header><h1>{{ "base.body.footer.info"|trans|capitalize }}</h1></header>
                            <ul>
                                <li><a href="{{ path("info_algemeen") }}">{{ "base.body.footer.legislation"|trans|capitalize }}</a></li>
                                {# <li><a href="{{ path("info_profiel") }}">{{ "base.body.footer.profile"|trans|capitalize }}</a></li>
                                <li><a href="{{ path("info_algemeen") }}">{{ "base.body.footer.what"|trans|capitalize }}</a></li>#}
                                <li><a href="{{ path("info_vrijwilligers") }}">{{ "base.body.footer.volunteers"|trans|capitalize }}</a></li>
                                <li><a href="{{ path("info_organisaties") }}">{{ "base.body.footer.organisations"|trans|capitalize }}</a></li>
                                <li><a href="{{ path("info_spelregels") }}">{{ "base.body.footer.rules"|trans|capitalize }}</a></li>
                                <li><a href="{{ path("info_verhalen") }}">{{ "base.body.footer.stories"|trans|capitalize }}</a></li>
                            </ul>
                        </section>
                        <section class="col-md-3">
                            <header><h1>{{ "base.body.footer.tests"|trans|capitalize }}</h1></header>
                            <ul>
                                <li><a href="{{ path("test_test") }}">{{ "base.body.footer.type"|trans|capitalize }}</a></li>
                            </ul>
                        </section>
                        <section class="col-md-3">
                            <header><h1>{{ "base.general.name"|trans|capitalize }}</h1></header>
                            <ul>
                                <li><a href="{{ path("info_over_ons") }}">{{ "base.body.footer.about"|trans|capitalize }}</a></li>
                                <li><a href="{{ path("info_contact") }}">{{ "base.body.footer.contact"|trans|capitalize }}</a></li>
                            </ul>
                        </section>
                    </nav>
                </div></div>


                <section id="partners"><div class="container blokken">
                    <h3>{{ "base.body.footer.partners"|trans|capitalize }}:</h3>

                    <div class="blok">
                        <a href="http://www.roeselare.be" target="_blank"><img src="{{ asset("images/partners/roeselare.png") }}" alt="logo Stad Roeselare" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.howest.be" target="_blank"><img src="{{ asset("images/partners/howest.png") }}" alt="logo Howest" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.thope.eu" target="_blank"><img src="{{ asset("images/partners/thope.jpg") }}" alt="logo 't hope vzw" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.groepintro.be" target="_blank"><img src="{{ asset("images/partners/groepintro-logo.png") }}" alt="logo Groep Intro vzw" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.vocopstap.be" target="_blank"><img src="{{ asset("images/partners/organogram-opstap-2015-png.png") }}" alt="logo Voc Opstap vzw" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.west-vlaanderen.be" target="_blank"><img src="{{ asset("images/partners/provincie.jpg") }}" alt="logo provincie Wvl" /></a>
                    </div>
                    <div class="blok">
                        <a href="http://www.vrijwilligerswerk.be" target="_blank"><img src="{{ asset("images/partners/logo_steunpunt2.jpg") }}" alt="logo steunpunt vrijwilligers" /></a>
                    </div>
                </div></section>
            </div>

            <footer>
                <div id="contactdata">
                    <div class="container">
                        <address class="col-md-3">
                            <h2>{{ "base.general.name"|trans }}</h2>
                            <p><strong>Vrijetijdspunt</strong><br />Zuidstraat 17, 8800 Roeselare</p>
                            <dl>
                                <dt>tel: </dt>
                                <dd>051 26 24 00</dd>
                                <dt>mail:</dt>
                                <dd><a href="{{ path("info_contact") }}">{{ "base.body.footer.contact"|trans|capitalize }}</a></dd>
                            </dl>
                        </address>
                        <div class="col-md-9">
                            <h3>{{ "base.body.footer.about"|trans|capitalize }}</h3>
                            <p>{{ "base.general.about.stimulate"|trans|capitalize }}</p>
                            <p>{{ "base.general.name"|trans }}</p>
                            <ul>
                                <li>{{ "base.general.about.develop"|trans }}</li>
                                <li>{{ "base.general.about.capital"|trans }}</li>
                            </ul>
                            <p>{{ "base.general.about.initiative"|trans }}</p>
                            <p>{{ "base.general.about.platform"|trans }}</p>
                        </div>
                    </div>
                </div>
                <div id="legalfooter">
                    <div class="container">
                        <div class="col-md-6">
                            <span>&copy; 2016 <a href="http://www.howest.be" target="_blank">{{ "base.body.footer.howest"|trans }}</a> &amp; <a href="http://www.roeselare.be" target="_blank">{{ "base.body.footer.city"|trans }}</a></span> -
                            <span><a href="{{ path("info_privacy_and_legal") }}">{{ "base.body.footer.privacy"|trans }}</a></span>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block feedback %}{% embed "feedback/feedback.html.twig" %}{% endembed %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

            {#
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script type="text/javascript">
               google.load("jquery", "1.4.2");
            </script>
            #}
            <script src="{{ asset("js/feedback.js") }}"></script>
            <script src="{{ asset("js/search.js") }}"></script>
            <script src="{{ asset("js/vrijwilligt.js") }}"></script>
        {% endblock %}
    </body>
</html>
