{% trans_default_domain "views" %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{"base.head.title"|trans}}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ asset("style/homemap.css?v1") }}" />
  </head>
  <body>
    <div id="map"></div>
    <div>
      <ul class="legend">
        <li class="org">Organisatie</li>
        <li class="vac">Vacature</li>
      </ul>
    </div>
    <script>
      var map;
      function initMap() {
      	var startpos = {lat: 50.960182, lng: 3.095295};
        map = new google.maps.Map(document.getElementById('map'), {
          center: startpos,
          zoom: 14
        });

        {% for location in locations %}
        	var marker = new google.maps.Marker({
				position: {lat: {{ location.latitude }}, lng: {{ location.longitude }}},
				map: map,
				{% if location.type == "organisation" %}
					icon: '/images/organisationIcon.png',
				{% elseif location.type == "vacancy" %}
					icon: '/images/vacancyIcon.png',
				{% endif %}
    			url: "{{ location.link }}"
	            });
			google.maps.event.addListener(marker, 'click', function() {
				top.location.href = this.url;
			});
		{% endfor %}

		google.maps.event.addDomListener(window, 'resize', function() {
		  map.setCenter(center);
		});

      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}&callback=initMap"
    async defer></script>
  </body>
</html>