{% trans_default_domain "views" %}
<section id="infoblokken" class="blokken" data-role="General information block">
	<article class="blok cta hoewerkthet">
		<h3><a href="{{ path("info_spelregels") }}">{{ "def.info.how.title"|trans }}</a></h3>
		<p>{{ "def.info.how.teaser"|trans }}</p>
		<div class="cta"><a class="cta rood" href="{{ path("info_spelregels") }}">{{ "def.info.more"|trans }}</a></div>
	</article>
	<article class="blok cta verhalen">
		<h3><a href="{{ path("info_verhalen") }}">{{ "def.info.stories.title"|trans }}</a></h3>
		<p>{{ random(["def.info.stories.teaser.a"|trans, "def.info.stories.teaser.b"|trans, "def.info.stories.teaser.c"|trans, "def.info.stories.teaser.d"|trans]) }}</p>
		<div class="cta"><a class="cta groen" href="{{ path("info_verhalen") }}">{{ "def.info.more"|trans }}</a></div>
	</article>
	<article class="blok cta informatie">
		<h3><a href="{{ path("info_vrijwilligersinfo") }}">{{ "def.info.info.title"|trans }}</a></h3>
		<p>{{ "def.info.info.teaser"|trans }}</p>
		<div class="cta"><a class="cta blauw" href="{{ path("info_vrijwilligersinfo") }}">{{ "def.info.more"|trans }}</a></div>
	</article>
	<article class="blok cta doedetest">
		<h3><a href="{{ path("test_type") }}">{{ "def.info.test.title"|trans }}</a></h3>
		<p>{{ "def.info.test.teaser"|trans }}</p>
		<div class="cta"><a class="cta geel" href="{{ path("test_type") }}">{{ "def.info.more"|trans }}</a></div>
	</article>
</section>
