<section id="infoblokken" class="blokken" data-role="General information block">
	<article class="blok cta hoewerkthet">
		<h3><a href="{{ path("info_spelregels") }}">Hoe werkt het?</a></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis voluptatibus consequatur atque sa amet, consectetur adipisicing elit. Aspernatur debitis voluptatibus consequatur atque sapiente qui.</p>
		<a class="cta" href="{{ path("info_spelregels") }}">lees meer</a>
	</article>
	<article class="blok cta verhalen">
		<h3><a href="#">Verhalen</a></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis voluptatibus consequatur atque sapiente qui.</p>
		<a class="cta" href="#">lees meer</a>
	</article>
	<article class="blok cta informatie">
		<h3><a href="{{ path("info_vrijwilligersinfo") }}">Informatie</a></h3>
		<p>Lorem ipsum dolor sit amet,  sit amet,  sit amet, consectetur adipisicing elit. Aspernatur debitis voluptatibus consequatur atque sapiente qui.</p>
		<a class="cta" href="{{ path("info_vrijwilligersinfo") }}">lees meer</a>
	</article>
	<article class="blok cta doedetest">
		<h3><a href="{{ path("test_type") }}">Doe de test</a></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis voluptatibus consequatur atque sapiente qui.</p>
		<a class="cta" href="{{ path("test_type") }}">lees meer</a>
	</article>
</section>