{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}Websitebeheer{% endblock %}

{% block body %}
	<div class="tabblad tiles">
        <ul class="nav nav-tabs">
            <li class="geel"><a href="{{ path("superadmin_users") }}">Gebruikers</a></li>
            <li class="blauw active"><a href="{{ path("superadmin_organisations") }}">Verenigingen</a></li>
            <li class="rood"><a href="{{ path("superadmin_vacancies") }}">Vacatures</a></li>
        </ul>

        <div class="tab-content clearfix blok grijs">

		    {% for flashMessage in app.session.flashbag.get('approve_message') %}
		        <div class="alert alert-success">
		            <strong>{{ "general.flash.success"|trans }}</strong> {{ flashMessage }}
		        </div>
		    {% endfor %}
		    {% for flashMessage in app.session.flashbag.get('error') %}
		        <div class="alert alert-danger">
		            {{ flashMessage }}
		        </div>
		    {% endfor %}

			{% if organisations|length > 0 %}
				<ol class="admin">
					<li class="th"><ul>
						<li class="p2">Type</li>
						<li>Naam</li>
						<li>Aangemaakt door</li>
						<li class="x"></li>
						<li class="x"></li>
					</ul></li>
					{% for organisation in organisations %}
					    <li><ul>
							<li class="p2">{{ organisation.type }}</li>
							<li>{{ organisation.name }}</li>
							<li>{{ organisation.creator.firstname }} {{ organisation.creator.lastname }}</li>
							<li class="x"><a class="edit" href="{{ path("superadmin_organisation_vacancies", {"organisation_urlid": organisation.urlid }) }}">vacatures</a></li>
							<li class="x"><a class="edit" href="{{ path("superadmin_organisation", {"urlid": organisation.urlid }) }}">aanpassen</a></li>
						</ul></li>
					{% endfor %}
				</ol>
				<ol class="admin">
					<li class="th">
						<ul>
							<li>Aantal verenigingen: {{ organisations|length }}</li>
						</ul>
					</li>
				</ol>
			{% else %}
				<ol><li>Geen verenigingen gevonden</li></ol>
			{% endif %}

        </div>
	</div>
{% endblock %}