{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "org.general.name"|trans }}{% endblock %}

{% block body %}
    <header class="center">
    	<h1>{{ "org.general.name"|trans }}</h1>
    	<p>{{ "org.general.looking"|trans }}</p>
    	<p>{{ "org.general.profile"|trans }}</p>
    </header>
    <section id="maakVereniging" class="steps">
        <h2 class="steptitle groen"><a href="#spelregels" name="spelregels">{{ "org.make.rules"|trans }}</a></h2>
        <div class="step grijs actief">
            {% embed "info/part.spelregels-vereniging.html.twig" %}{% endembed %}
            {% embed "info/part.spelregels-vrijwilliger.html.twig" %}{% endembed %}
        </div>

        {% for flashMessage in app.session.flashbag.get('approve_message') %}
            <div class="alert alert-success">
                <strong>{{ "general.flash.success"|trans }}</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% embed "organisation/vereniging_form.html.twig" with { 'form': form, 'organisation': organisation, "source": "organisation_edit" } %}{% endembed %}

        {% if organisation %}
            <h2><a class="steptitle" href="{{ path('create_vacancy_for_organisation', { 'organisation_urlid': organisation.urlId }) }}">{{ "org.make.place"|trans }}</a></h2>
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}"></script>
    <script src="{{ asset('js/livemap.js') }}"></script>
    <script src="{{ asset("js/forms.js") }}"></script>
    <script src="{{ asset("js/addadmin.js") }}"></script>
{% endblock %}

