{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}

{% block body %}
	<header>
		<h1>Vrijwilliger vinden</h1>
		<p>Op zoek naar vrijwilligers?</p>
		<p>Maak nu een profiel zodat je vacatures kan plaatsen! </p>
	</header>
	<h2>Maak een profiel aan voor uw vereniging</h2>
	{{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.email) }}
        {{ form_row(form.street) }}
		{{ form_row(form.number) }}
		{{ form_row(form.bus) }}
		{{ form_row(form.postalCode) }}
		{{ form_row(form.city) }}
		{{ form_row(form.telephone) }}
    {{ form_end(form) }}
	{% for flash_message in app.session.flashbag.get('success-notice') %}
        <div class="success-notice">
            <script type="text/javascript">alert("{{ flash_message }}");</script>
        </div>
    {% endfor %}
{% endblock %}
