{% extends 'base.html.twig' %}

{% block title %}Vrijwilliger vinden{% endblock %}

{% block body %}
	<header>
		<h1>Vrijwilliger vinden</h1>
		<p>Op zoek naar vrijwilligers?</p>
		<p>Maak nu een profiel zodat je vacatures kan plaatsen! </p>
	</header>
	<h2>Maak een profiel aan voor uw vereniging</h2>
	{{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.startdate) }}
        {{ form_row(form.enddate) }}
    {{ form_end(form) }}

{% endblock %}
