{% set altAndTitle %}{{ organisation.name }}  - {{ organisation.slogan  }} {% endset %}

<div class="col-md-4"><article class="vereniging blok cta"> 
    {% if app.user in organisation.likers %}
        <a class="fav liked" href="{{ path("organisation_like", {"urlid": organisation.urlId, "likeunlike":"unlike" }) }}"><span>Unlike</span></a>
    {% else %}
        <a class="fav notliked"  href="{{ path("organisation_like", {"urlid": organisation.urlId, "likeunlike":"like" }) }}"><span>Like</span></a>
    {% endif %}  
    
        <header>
            <a href="{{ path("organisation_by_urlid", { "urlid": organisation.urlid }) }}">
                <h3>{{ organisation.name}}</h3>  
            </a>
        </header>{# TODO: adjust dbase to include slogan and img  + add profile pic for person #149 #}
        <img src="{{ asset("images/organisations/" ~ organisation.logoName) }}" text="logo {{ organisation.name }}" alt="logo {{ organisation.name }}" class="logo"> 
        <p>{{ organisation.description|truncate(200, true) }}</p>
        <ul>
            <li>
                {# TODO: render icon linking to location (think about how we want that to happen), inserted a tag already, nothing else yet => issue #150 #}
                <a href="#">
                    {{ organisation.street }} {{ organisation.number }}
                    {% if organisation.bus %} / {{ organisation.bus }}{% endif %}
                     - {{ organisation.postalCode }} {{ organisation.city }}
                </a> (issue #150)
            </li>
            <li>
                {# TODO: bekijken hoe we het aantal medewerkers en vrijwilligers kunnen weergeven #151 #}
                x medewerkers en y vrijwilligers (issue #151)
            </li>
            <li>
                {# TODO: maken dat een vacature beperkt aantal vrijwilligers heeft en dus afgesloten wordt eens dat aantal ingevuld is #152 #}
                x openstaande vacatures (issue #152)
            </li>
        </ul>
        <a href="{{ path("organisation_by_urlid", { "urlid": organisation.urlid }) }}" class="cta">lees meer</a> 
    </a>
</article></div>
