{% trans_default_domain "views" %}
{{ form_start(form) }}
    {{ form_errors(form) }}

    <h2 class="steptitle rood"><a href="#algemeen" name="algemeen">{{ "org.form.general"|trans }}</a></h2>
    <div class="step {% if organisation==false %}actief{% endif %} grijs rood">
        <fieldset>
            <legend>{{ "org.form.org"|trans }}</legend>
            <div class="col-md-8">
                {{ form_row(form.name) }}
                {{ form_row(form.slogan) }}
                {{ form_row(form.type) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.logoFile) }}
                {% if organisation %}<input type="hidden" id="organisation_logoFile_current" value="{{ asset
        ("images/organisations/" ~ organisation.logoName) }}" />{% endif %}
            </div>

            <div class="col-md-12">
                {{ form_row(form.intermediary) }}
                {{ form_row(form.description) }}
                {{ form_row(form.email) }}
                {{ form_row(form.submit) }}
            </div>

        </fieldset>
    </div>

    <h2 class="steptitle blauw"><a href="#contact" name="contact">{{ "org.form.contact"|trans }}</a></h2>
    <div class="step {% if organisation %}actief{% endif %} grijs blauw">
        <fieldset>
            {% if organisation and source=="create_organisation" %}
                <p>
                    {{ "org.form.created"|trans }}<br />
                    {{ "org.form.extra"|trans }} <a href="{{ path('create_vacancy_for_organisation', { 'organisation_urlid': organisation.urlId }) }}">{{ "org.form.general"|trans }}</a>.
                </p>
            {% endif %}
            <div class="row">
                <div class="col-md-7">
                    <div class="col-md-6">
                        {{ form_row(form.street) }}
                    </div>
                    <div class="col-md-3">
                      {{ form_row(form.number) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_row(form.bus) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.postalCode) }}
                    </div>
                    <div class="col-md-8">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="col-md-12">
                        {{ form_row(form.telephone) }}
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-12 google">map preview</div>
                </div>
            </div>
            <div class="col-md-12">
                {{ form_row(form.website) }}
                <!-- {{ form_row(form.backToRegistration) }} -->
                {{ form_row(form.submit2) }}
            </div>
        </fieldset>
    </div>

    <h2 class="steptitle geel"><a href="#sectoraal" name="sectoraal">{{ "org.form.sectoral"|trans }}</a></h2>
    <div class="step grijs geel">
        <fieldset>
            <p><strong>{{ "org.form.active"|trans }}</strong></p>
            {{ form_row(form.sectors) }}
            <!-- {{ form_row(form.backToContact) }} -->
            {{ form_row(form.submitEnd) }}
        </fieldset>
    </div>
{{ form_end(form) }}
