{% trans_default_domain "views" %}
{% extends "base.html.twig" %}

{% block title %}{{ "org.org.title"|trans }}{% endblock %}

{% block body %}
{% if organisation.deleted %}
	<h1>{{ organisation.name }}</h1>
	<p>{{ "org.org.deleted"|trans }}  {% if app.user in organisation.administrators %}{{ "org.org.unjust"|trans }} <a href="{{ path('restore_organisation', {'urlid': organisation.urlId, 'deleted': false }) }}">{{ "general.button.click"|trans }}</a>.{% endif %}</p>
{% else %}
	<article class="tempblok">
	    {% for flashMessage in app.session.flashbag.get('approve_message') %}
            <div class="alert alert-success">
                <strong>{{ "general.flash.success"|trans }}</strong> {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

		<h1>{{ organisation.name }}</h1>
		<h2>{% if organisation.slogan %}{{ organisation.slogan }}{% endif %}</h2>
		{% if app.user in organisation.likers %}
			<a href="{{ path("organisation_save", {"urlid": organisation.urlId, "saveaction":"remove" }) }}">{{ "general.button.unlike"|trans }}</a>
		{% else %}
			<a href="{{ path("organisation_save", {"urlid": organisation.urlId, "saveaction":"save" }) }}">{{ "general.button.like"|trans }}</a>
		{% endif %}
		{% if organisation.logoName %}
			{% set logoLink %}images/organisations/{{organisation.logoName}}{% endset %}
			<img class="logo" src="{{ asset(logoLink) }}" text="logo {{ organisation.name }}" alt="logo {{ organisation.name }}">
		{% endif %}
		<p>{{ organisation.description }}</p>

		{% if organisation.sectors %}
			<p>
				<label>Sectoren:</label>
				{% for sector in organisation.sectors %}
					{{ sector.name }}
				{% endfor %}
			</p>
		{% endif %}

		{% if organisation.street and organisation.number and (organisation.postalcode or organisation.city) %}
			<p>
				{{ organisation.street }}, {{ organisation.number }} {% if organisation.bus %}/ {{ organisation.bus }}{% endif %}- {{ organisation.postalcode }}, {{ organisation.city }}
			</p>
			<aside id="#googlemaps">
				<div>
					<button id="getRoute">{{ "general.map.show"|trans }}</button>
					<div id="description" class="hidden"></div>
					<p>{{ "general.map.select"|trans }}</p>
					<div onchange="googleMapsModule.drawRoute()">
						<select id="transitMethod">
							<option value="DRIVING">{{ "general.map.car"|trans }}</option>
							<option value="BICYCLING">{{ "general.map.bike"|trans }}</option>
							<option value="WALKING">{{ "general.map.foot"|trans }}</option>
							<option value="TRANSIT">{{ "general.map.public"|trans }}</option>
						</select>
						<select id="transitMode" class="hidden">
							<option value="BUS">{{ "general.map.bus"|trans }}</option>
							<option value="RAIL">{{ "general.map.track"|trans }}</option>
							<option value="SUBWAY">{{ "general.map.metro"|trans }}</option>
							<option value="TRAM">{{ "general.map.trolley"|trans }}</option>
						</select>
					</div>
				</div>
				<div data-useraddress="
				{% if app.user %}
					{{ app.user.street }}
					{{ app.user.number }}
					{{ app.user.postalcode }}
					{{ app.user.city }}
				{% else %}
				{% endif %}"
					 id="map-canvas" style="width: 350px; height: 350px;">
				</div>
			</aside>
		{% else %}
			<p>{{ "org.org.noadres"|trans }}</p>
		{% endif %}
		<p>{% if organisation.telephone %}{{ organisation.telephone }}{% endif %}</p>
		<p>{% if organisation.email %}{{ organisation.email }}{% endif %}</p>

	</article>

	{% if organisation.vacancies %}
		<h3>{{ "org.org.vacancies"|trans }}</h3>
		{{ render(controller("AppBundle:Vacancy:ListOrganisationVacancies", { "id": organisation.Id, "status": 1 })) }}
	{% endif %}

	{% if app.user in organisation.administrators %}
		<aside>
			<h3>{{ "general.admin.title"|trans }}</h3>
			<ul>
				<li><a href="{{ path("organisation_edit", {"urlid": organisation.urlId }) }}">{{ "general.admin.modify"|trans }}</a></li>
				<li>
					<a href="{{ path("create_vacancy_for_organisation", { "organisation_urlid": organisation.urlId }) }}">{{ "general.admin.createvacancy"|trans }}</a>
				</li>
				{% if not organisation.deleted %}
					<li>
						<a href="{{ path('delete_organisation', { 'urlid': organisation.urlId }) }}">{{ "general.admin.deleteorg"|trans }}</a>
					</li>
				{% endif %}
				<li>{{ "general.admin.admins"|trans }}:
					<ul>
						{% for administrator in organisation.administrators %}
							<li><a href="{{ path('person_username', {'username' : administrator.username}) }}">{{ administrator.firstname}} {{ administrator.lastname}}</a> -  <a href="{{ path('organisation_remove_admin', {'person_username' : administrator.username, 'organisation_urlid' : organisation.urlid}) }}">{{ "general.admin.away"|trans }}</a></li>
						{% endfor %}
						<li>
							{{ form_start(form) }}
								{{ form_row (form.addAdmin) }}{{ form_row (form.submitAdmin) }}
							{{ form_end(form) }}
						</li>
					</ul>
				</li>
			</ul>
		</aside>
	{% endif %}
{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://apis.google.com/js/platform.js" async defer>{lang: "nl"}</script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}"></script>

	<script src="{{ asset("js/googleMaps.js") }}"></script>
	<script src="{{ asset("js/usersearch.js") }}"></script>
{% endblock %}
