<li>
    <a href="{{ path("organisation_by_urlid", { "urlid": organisation.urlid }) }}">
        <header>
            <h3>{{ organisation.name}}</h3>
            <img src="http://dummyimage.com/50x50/000/fff" alt="placeholder" title="placeholder">
        </header>{# TODO: adjust dbase to include slogan and img  + add profile pic for person #149 #}
        <img src="" text="logo {{ organisation.name }}" alt="logo {{ organisation.name }}">
        <p>{# organisation.slogan #}issue #149</p>
        <ul>
            <li>
                {# TODO: render icon linking to location (think about how we want that to happen), inserted a tag already, nothing else yet => issue #150 #}
                <a href="#">
                    {{ organisation.street }} {{ organisation.number }}
                    {% if organisation.bus %} / {{ organisation.bus }}{% endif %}
                     - {{ organisation.postalCode }} {{ organisation.city }}
                </a> (issue #150)
            </li>
            <li>
                {# TODO: bekijken hoe we het aantal medewerkers en vrijwilligers kunnen weergeven #151 #}
                x medewerkers en y vrijwilligers (issue #151)
            </li>
            <li>
                {# TODO: maken dat een vacature beperkt aantal vrijwilligers heeft en dus afgesloten wordt eens dat aantal ingevuld is #152 #}
                x openstaande vacatures (issue #152)
            </li>
        </ul>
        <button>Contacteer</button>{# TODO: enable behaviour, button? #153 #}
    </a>
</li>
