<li>
    <a href="{{ path("organisation_by_urlid", { "urlid": organisation.urlid }) }}">
        <header>
            <h3>{{ organisation.name}}</h3>
            <img src="http://dummyimage.com/50x50/000/fff" text="voeg de organisatie toe aan je favorieten" alt="voeg de organisatie toe aan je favorieten">
        </header>
        {% if organisation.logoName %}
            {% set logoLink %}images/organisations/{{organisation.logoName}}{% endset %}
            <img src="{{ asset(logoLink) }}" text="logo {{ organisation.name }}" alt="logo {{ organisation.name }}">
        {% endif %}
        {% if organisation.slogan %}<p>{{ organisation.slogan }}</p>{% endif %}
        <ul>
            {% if organisation.street and organisation.number and (organisation.postalcode or organisation.city) %}
                <li>
                    {# TODO: render icon linking to location (think about how we want that to happen), inserted a tag already, nothing else yet => issue #150 #}
                    <a href="#">
                        {{ organisation.street }} {{ organisation.number }}
                        {% if organisation.bus %} / {{ organisation.bus }}{% endif %}
                         - {{ organisation.postalCode }} {{ organisation.city }}
                    </a> (issue #150)
                </li>
            {% endif %}
            <li>
                {# TODO: bekijken hoe we het aantal medewerkers en vrijwilligers kunnen weergeven #151 #}
            </li>
            <li>
                {{ render(controller("AppBundle:Vacancy:ListOrganisationVacancies", { "id": organisation.Id })) }}{# TODO: aanpassen zodat enkel het aantal wordt weergegeven #}
            </li>
        </ul>
        <button>Contacteer</button>{# TODO: enable behaviour, button? #153 #}
    </a>
</li>
