{% extends "base.html.twig" %}

{% block title %}Vereniging{% endblock %}

{% block body %}
	<h1> {{ organisation.name }}</h1>
	<br />
	omschrijving: {{ organisation.description }}

	<p>locatie:
		<span id="location">
			<br>
			{{ organisation.street }}
			{{ organisation.number }}
			<br>
			{% if organisation.bus is not null and organisation.bus is not empty %}
				bus {{ organisation.bus }}
			{% endif %}
			{{ organisation.postalcode }}
			{{ organisation.city }}
		</span>

	<ul>
		{% if app.user in organisation.likers %}
			<li><a href="{{ path("organisation_like", {"urlid": organisation.urlId, "likeunlike":"unlike" }) }}">Unlike</a></li>
		{% else %}
			<li><a href="{{ path("organisation_like", {"urlid": organisation.urlId, "likeunlike":"like" }) }}">Like</a></li>
		{% endif %}
	</ul>

	<h2>Vacatures</h2>
	{{ render(controller("AppBundle:Vacancy:ListOrganisationVacancies", { "urlid": organisation.urlId } )) }}
{% endblock %}
