{% extends "base.html.twig" %}
{% set logoLink %}images/organisations/{{organisation.logoName}}{% endset %}

{% block title %}Vereniging{% endblock %}

{% block body %}
<h1>{{ organisation.name }}</h1>
<h2>{{ organisation.slogan }}</h2>
<img src="http://dummyimage.com/50x50/000/fff" text="voeg de organisatie toe aan je favorieten" alt="voeg de organisatie toe aan je favorieten">
<img src="{{ asset(logoLink) }}" text="logo {{ organisation.name }}" alt="logo {{ organisation.name }}">
<p>{{ organisation.description }}</p>
<p><label>Sectoren:</label></p>
<p>
	{{ organisation.street }}, {{ organisation.number }} {% if organisation.bus %}/ {{ organisation.bus }}{% endif %}- {{ organisation.postalcode }}, {{ organisation.city }}
</p>
<aside id="#googlemaps">
	<div>
		<button id="getRoute">Toon routebeschrijving</button>
		<div id="description" class="hidden"></div>
		<p>selecteer uw gewenste transportwijze</p>
		<div onchange="googleMapsModule.drawRoute()">
			<select id="transitMethod">
				<option value="DRIVING">Auto</option>
				<option value="BICYCLING">Fiets</option>
				<option value="WALKING">Te voet</option>
				<option value="TRANSIT">Openbaar vervoer</option>
			</select>
			<select id="transitMode" class="hidden">
				<option value="BUS">Per bus</option>
				<option value="RAIL">Per spoor (combinatie van trein, tram, metro,...)</option>
				<option value="SUBWAY">Per metro</option>
				<option value="TRAM">Per tram</option>
			</select>
		</div>
	</div>
	<div data-useraddress="
	{% if app.user %}
		{{ app.user.street }}
		{{ app.user.number }}
		{{ app.user.postalcode }}
		{{ app.user.city }}
	{% else %}
	{% endif %}"
		 id="map-canvas" style="width: 350px; height: 350px;">
	</div>
</aside>
<p>{{ organisation.telephone }}</p>
<p>{{ organisation.email }}</p>
<h3>Vacatures</h3>
{{ render(controller("AppBundle:Vacancy:ListOrganisationVacancies", { "urlid": organisation.urlId } )) }}

<aside>
	<ul>
		{% if app.user in organisation.likers %}
			<li><a href="{{ path("organisation_like", {"urlid": organisation.urlId, "likeunlike":"unlike" }) }}">Unlike</a></li>
		{% else %}
			<li><a href="{{ path("organisation_like", {"urlid": organisation.urlId, "likeunlike":"like" }) }}">Like</a></li>
		{% endif %}
		{% if app.user in organisation.administrators %}
			{# <li><a href="{{ path("organisation_edit", {"urlid": organisation.urlId }) }}">Aanpassen</a></li> #}
			<li>Beheerders:
				<ul>
					{% for administrator in organisation.administrators %}
						<li><a href="{{ path('person_username', {'username' : administrator.username}) }}">{{ administrator.firstname}} {{ administrator.lastname}}</a> <a href="{{ path('organisation_remove_admin', {'person_username' : administrator.username, 'organisation_urlid' : organisation.urlid}) }}">X</a></li>
					{% endfor %}
					{# <li>Nieuwe beheerder:
						{% include "person/usersearch.html.twig" with {'path': path('organisation_add_admin', { 'organisation_urlid' : organisation.urlid}) } %}
					</li> #}
				</ul>
			</li>
		{% endif %}
	</ul>
</aside>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://apis.google.com/js/platform.js" async defer>{lang: "nl"}</script>
	<script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}"></script>

	<script src="{{ asset("js/googleMaps.js") }}"></script>
	<script src="{{ asset("js/usersearch.js") }}"></script>
{% endblock %}
