{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "org.general.name"|trans }}{% endblock %}

{% block body %}
	<header class="center">
    	<h1>{{ "org.general.name"|trans }}</h1>
		<p>{{ "org.find.looking"|trans }}
		<br />{{ "org.find.here"|trans }} <strong>{{ "org.find.registered"|trans }}</strong> {{ "org.find.create"|trans }}.
		<br />{{ "org.find.choice"|trans }}</p>
    </header>

	<section class="steps">
		{% if app.user %}
		    <h2 class="steptitle rood"><a href="#kiesvereniging" name="kiesvereniging">{{ "org.find.which"|trans }}</a></h2>
		    <div class="step actief grijs">

			<div class="organisaties">
				{% for organisation in organisations %}
				    {% embed "organisation/vereniging_min.html.twig" with {"organisation": organisation, "cta": {"txt" : "selecteer", "href" : path("create_vacancy_for_organisation", { "organisation_urlid": organisation.urlId }) } }%}{% endembed %}
				{% endfor %}
			</div>

		    <h2 class="steptitle blauw"><a href="{{ path("create_organisation") }}">{{ "org.find.new"|trans }}</a></h2>

		    <h2 class="steptitle geel"><a href="{{ path("create_vacancy") }}">{{ "org.find.self"|trans }}</a></h2>
		{% else %}
			{% embed "security/login_form.html.twig" with { 'path': path, 'error': error, 'last_username': last_username } %}{% endembed %}
		{% endif %}
			</div>
	</section>
{% endblock %}
