{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "org.general.name"|trans }}{% endblock %}

{% block body %}
	<header>
		<h1>{{ "org.general.name"|trans }}</h1>
		<p>{{ "org.general.looking"|trans }}</p>
		<p>{{ "org.general.profile"|trans }}</p>
	</header>
	<form method="post">
		<section>
			<h2>{{ "org.tailored.look"|trans }}</h2>
			{{ "org.tailored.list"|trans }}
		</section>
	</form>
{% endblock %}