{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "tests.tests.title"|trans }}{% endblock %}

{% block body %}
	<form action="{{ path('test_answer', {'next': (question.nr + 1) }) }}" method="post">
		<p>{{ question.question }}</p>

		<ul>
			{% for answer in question.answers %}
				<li>
					<button name="answer" value="{{ answer.id }}" type="submit">{{ answer.answer }}</button>
				</li>
			{% endfor %}
		</ul>
	</form>

{% endblock %}
