<h1>Kandidaat goedgekeurd!</h1>

<p>Beste beheerder voor {{ org.name }},</p>

<p>
    zonet werd {{ candidate.firstname }} {{ candidate.lastname }} goedgekeurd als vrijwilliger voor de vacature {{ vacancy.title }}.
</p>

<p>
    Met vriendelijke groeten,</br>
    Roeselare Vrijwilligt
</p>
<img src="{{ absolute_url(asset('images/logo_roeselarevrijwilligt.png')) }}">