{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
<h1>{{ "disaproved.header" |trans }}</h1>

<p>{{ "disaproved.firstp"|trans }} {{ org.name }},</p>

<p>
    {{ "disaproved.secondp.fpart"|trans }}{{ candidate.firstname }} {{ candidate.lastname }} {{ "dissaproved.secondp.spart" |trans }} {{ vacancy.title }}.
</p>

{% endblock %}