{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
    <h1>{{ "newAdmin.header" |trans }}</h1>

    <p>{{ "newAdmin.firstp" |trans }} {{ org.name }},</p>

    <p>
        {{ "newAdmin.secondp.fpart"|trans }} {{ newAdmin.firstname }} {{ newAdmin.lastname }} {{ "newAdmin.secondp.spart" | trans }} {{ org.name }}
        .
    </p>

{% endblock %}