{% extends "emailbase.txt.twig" %}

{% block body %}
<h1>Nieuwe kandidaat!</h1>

<p>Beste beheerder voor {{ org.name }},</p>

<p>
    zonet gaf {{ candidate.firstname }} {{ candidate.lastname }} zich op Roeselare Vrijwilligt als kandidaat voor de vacature {{ vacancy.title }}.  <a href="{{ url('vacancy_by_urlid', {'urlid': vacancy.urlId }) }}">U kan deze vacature hier goed/afkeuren.</a>
</p>

{% endblock %}