{% trans_default_domain "mail" %}
{% extends "emailbase.txt.twig" %}

{% block body %}
    <h1>{{ "newCharge.header"|trans }}</h1>

    <p>{{ "newCharge.firstp"|trans }} {{ org.name }},</p>

    <p>
        {{ "newCharge.secondp.fpart"|trans }} {{ user.firstname }} {{ user.lastname }} {{ "newCharge.secondp.spart"|trans }}
    </p>

    <p>{{ "newCharge.thirdp"|trans }}</p>
    <p> {{ "newCharge.fourthp" | trans }} </p>
{% endblock %}