<h1>Nieuwe kandidaat!</h1>

<p>Beste beheerder voor {{ org.name }},</p>

<p>
    zonet gaf {{ candidate.firstname }} {{ candidate.lastname }} zich op Roeselare Vrijwilligt als kandidaat voor de vacature {{ vacancy.title }}.  <a href="{{ url('vacancy_candidacies', {'urlid': vacancy.urlId }) }}">U kan deze vacature hier goed/afkeuren.</a>
</p>

<p>
    Met vriendelijke groeten,<br />
    Roeselare Vrijwilligt
</p>
<img src="{{ absolute_url(asset('images/logo_roeselarevrijwilligt.png')) }}">