{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
	<h1>{{ "notCanDis.header" |trans }}</h1>

	<p>{{ "notCanDis.firstp" |trans }} {{ candidate.firstname }},</p>

	<p>
		{{ "notCanDis.secondp.fpart" |trans }} <a href="{{ url("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}">{{ vacancy.title }}</a> {{ "notCanDis.secondp.spart" |trans }}
	</p>

{% endblock %}