{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
	<h1>{{ "notVolRem.header" |trans }}</h1>

	<p>{{ "notVolRem.firstp" |trans }} {{ candidate.firstname }},</p>

	<p>
    {{ "notVolRem.secondp.fpart" |trans }}{{ vacancy.title }}.<br />
        {{ "notVolRem.secondp.spart" | trans }}
	</p>
    <p>
        {{ "notVolRem.thirdp.fpart" |trans }}<br />
        {{ "notVolRem.thirdp.spart" |trans }}
    </p>

{% endblock %}