{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
	<h1>{{ "notCanDis.header" |trans }}</h1>

	<p>{{ "notCanDis.firstp" |trans }} {{ candidate.firstname }},</p>

	<p>
		{{ "notCanDis.secondp.fpart" |trans }} {{ vacancy.title }} {{ "notCanDis.secondp.spart" |trans }}
	</p>
    <p>
		{{ "notCanDis.thirdp.fpart" |trans }}<br />
		{{ "notCanDis.thirdp.spart" |trans }}
    </p>

{% endblock %}