{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
	<h1>{{ "notCanApp.header" |trans }}</h1>

	<p>{{ "notCanApp.firstp" |trans }}{{ candidate.firstname }},</p>

	<p>
	{{ "notCanApp.secondp.fpart" | trans }}{{ vacancy.title }} {{ "notCanApp.secondp.spart" |trans }}
	</p>
    <p>
		{{ "notCanApp.thirdp.fpart" |trans }}<br />
        {{ "notCanApp.thirdp.spart" |trans }}
    </p>

{% endblock %}