{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
<h1>{{ "reg.header" |trans }}</h1>

<p>{{ "reg.firstp" |trans }} {{ user.firstname }} {{ user.lastname }},</p>

<p>
    {{ "reg.secondp" |trans }}
    <a href="{{ url('login') }}">{{ url('login') }}</a>
</p>

{% endblock %}