{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
<h1>{{ "remVol.header"|trans }}</h1>

<p>{{ "remVol.firstp_private"|trans }} {{ vacancy.creator.firstname }} {{ vacancy.creator.lastname }},</p>

<p>
    {{ "remVol.secondp.fpart"|trans }} {{ candidate.firstname }} {{ candidate.lastname }} {{ "remVol.secondp.spart"|trans }} <a href="{{ url("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}">{{ vacancy.title }}</a>.
</p>

{% endblock %}