{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
<h1>{{ "remVol.header"|trans }}</h1>

<p>{{ "remVol.firstp"|trans }} {{ org.name }},</p>

<p>
    {{ "remVol.secondp.fpart"|trans }} {{ candidate.firstname }} {{ candidate.lastname }} {{ "remVol.secondp.spart"|trans }} {{ vacancy.title }}.
</p>

{% endblock %}