{% trans_default_domain "mail" %}
{% extends "emailbase.txt.twig" %}

{% block body %}
<h1>{{ "vacCre.header" | trans }}</h1>

<p>{{ "vacCre.firstp" |trans }} {{ user.firstname }} {{ user.lastname }},</p>

<p>
    {{ "vacCre.secondp.fpart" |trans }} {{ org.name }} {{ "vacCre.secondp.spart" | trans }} <a href="{{ url('vacancy_by_urlid', {'urlid': vacancy.urlid }) }}">"{{ vacancy.title }}".</a>
</p>

{% endblock %}