{% trans_default_domain "mail" %}
{% extends "emailbase.html.twig" %}

{% block body %}
<h1>{{ "vacCre.header" | trans }}</h1>

<p>{{ "vacCre.firstp" |trans }} {{ user.firstname }} {{ user.lastname }},</p>

<p>
    {{ "vacCre.secondp.fpart" |trans }} <a href="{{ url("organisation_by_urlid", { "urlid": org.urlid }) }}">{{ org.name }}</a> {{ "vacCre.secondp.spart" | trans }} "<a href="{{ url('vacancy_by_urlid', {'urlid': vacancy.urlid }) }}">{{ vacancy.title }}</a>".
</p>

{% endblock %}