{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.description) }}
    {{ form_row(form.wanted) }}
    {{ form_row(form.enddate) }}
    {{ form_row(form.longterm) }}
    {{ form_row(form.estimatedWorkInHours) }}
    <fieldset>
        <p>Waar zal de vrijwilliger werken?</p>
        {{ form_row(form.street) }}
        {{ form_row(form.number) }}
        {{ form_row(form.bus) }}
        {{ form_row(form.postalCode) }}
        {{ form_row(form.city) }}
    </fieldset>
    {{ form_row(form.socialInteraction) }}
    {{ form_row(form.independent) }}
    {{ form_row(form.skills) }}
    <fieldset>
        <p>Voordelen voor de vrijwilliger</p>
        {{ form_row(form.renumeration) }}
        {{ form_row(form.otherReward) }}
    </fieldset>
    {{ form_row(form.submit) }}
    {{ form_row(form.save) }}
{{ form_end(form) }}
