{# TODO: mag dit volledig formulier weg?  nakijken #}
{% extends 'base.html.twig' %}

{% block title %}Vacature Aanmaken{% endblock %}

{% block body %}
   <form action="{{ path('create_vacancy') }}" method="post">
        {{ form_errors(form) }}
        <fieldset>
            <legend>Algemeen</legend>
            {#{ form_row(form.organisation) } TODO: must be derived from logged in organisation #}
            {{ form_row(form.title) }}
            {#{ form_row(form.summary) }#}
            {{ form_row(form.description) }}
            {#{ form_row(form.startdate) } TODO: bekijken of we dit willen, en zo ja, veld toevoegen in vacancytype #}
            {{ form_row(form.enddate) }}
            {#{ form_row(form.longterm) }#}
            {#{ form_row(form.estimatedWorkInHours) }#}
            {#{ form_row(form.location) }#}
            {#{ form_row(form.socialInteraction) }#}
            {#{ form_row(form.independent) }#}
        </fieldset>
        <fieldset>
            <legend>skills</legend>
            {{ form_row(form.skills) }}
        </fieldset>
        <fieldset>
            <legend>Voordelen voor de vrijwilliger</legend>
            {#{ form_row(form.renumeration) }#}
            {#{ form_row(form.otherReward) }#}
        </fieldset>
        {{ form_row(form.submit) }}
        {{ form_row(form.save) }}
        {{ form_widget(form._token) }}
    </form>

    {% for flash_message in app.session.flashbag.get('success-notice') %}
        <div class="success-notice">
            <script type="text/javascript">alert("{{ flash_message }}");</script>
        </div>
    {% endfor %}
{% endblock %}
