{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "vacancy.modify.title"|trans }}{% endblock %}

{% block body %}
    <section class="steps">
        {% for flash_message in app.session.flashbag.get('success-notice') %}
            <div class="success-notice">
                <script type="text/javascript">alert("{{ flash_message }}");</script>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% embed "vacancy/vacature_form.html.twig" with { 'form': form } %}{% endembed %}

        <form class="part blok special" action="{{ path("vacancy_by_urlid", {"urlid": urlid }) }}">
            <input class="cta" type="submit" value="{{ "vacancy.modify.anul"|trans }}"/>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/forms.js") }}"></script>
{% endblock %}
