{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "vacancy.new.title"|trans }}{% endblock %}

{% block body %}
    <header class="center">
        <h1>{{ "vacancy.new.title"|trans }}</h1>
        <p>{{ "vacancy.new.looking"|trans }}</p>
        <p>{{ "vacancy.new.fill"|trans }}</p>
    </header>

	<section class="steps">
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}

    	{% embed "vacancy/vacature_form.html.twig" with { 'form': form } %}{% endembed %}
	</section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_key }}"></script>
    <script src="{{ asset('js/livemap.js') }}"></script>
    <script src="{{ asset("js/forms.js") }}"></script>
{% endblock %}

