{% trans_default_domain "views" %}
{% extends "base.html.twig" %}
{% import 'snippets/dates.html.twig' as datum %}

{% set admin = false %}
{% if vacancy.organisation and app.user in vacancy.organisation.administrators %}
	{% set admin = true %}
{% elseif vacancy.creator == app.user %}
	{% set admin = true %}
{% endif %}

{% block title %}{{ vacancy.title }}{% endblock %}

{% block body %}
{% if vacancy.published == 4 %}
	<h1>{{ vacancy.title }}</h1>
	<p>{{ "vacancy.vacancy.removed"|trans }}  {% if (vacancy.organisation) and app.user in vacancy.organisation.administrators %}{{ "vacancy.vacancy.undo"|trans }} <a href="{{ path('restore_vacancy', {'urlid': vacancy.urlId }) }}">{{ "general.button.click"|trans }}</a>.{% endif %}</p>
{% else %}
	<div class="vacaturepage">
		<article class="vacature">
			{% if app.user %}
			    {% if app.user in vacancy.likers %}
			        <a class="fav liked" title="{{ "vacancy.vacancy.remove"|trans }}" href="{{ path("vacancy_save", {"urlid": vacancy.urlId, "saveaction":"remove" }) }}"><span>{{ "vacancy.vacancy.remove"|trans }}</span></a>
			    {% else %}
			        <a class="fav notliked" title="{{ "vacancy.vacancy.save"|trans }}" href="{{ path("vacancy_save", {"urlid": vacancy.urlId, "saveaction":"save" }) }}"><span>{{ "vacancy.vacancy.save"|trans }}</span></a>
			    {% endif %}
		    {% endif %}

			<div class="content">
			    {% for flashMessage in app.session.flashbag.get('approve_message') %}
			        <div class="alert alert-success">
			            <strong>{{ "general.flash.success"|trans }}</strong> {{ flashMessage }}
			        </div>
			    {% endfor %}
			    {% for flashMessage in app.session.flashbag.get('error') %}
			        <div class="alert alert-danger">
			            {{ flashMessage }}
			        </div>
			    {% endfor %}
				<header><h1 id="vacancy_title">{{ vacancy.title }}</h1></header>
				<dl>
					{% if vacancy.summary %}
						<dt class="col-md-3">{{ "vacancy.vacancy.summary"|trans }}</dt>
						<dd class="col-md-9">{{ vacancy.summary|nl2br }}</dd>
					{% endif %}

					<dt class="col-md-3">{{ "vacancy.vacancy.description"|trans }}</dt>
					<dd class="col-md-9">{{ vacancy.description|nl2br }}</dd>

					{% if vacancy.startdate %}
						<dt class="col-md-3">{{ "vacancy.vacancy.startdate"|trans }}</dt>
						<dd class="col-md-9">{{ datum.volledig(vacancy.startdate) }}</dd>
					{% endif %}
					{% if vacancy.enddate %}
						<dt class="col-md-3">{{ "vacancy.vacancy.enddate"|trans }}</dt>
						<dd class="col-md-9">{{ datum.volledig(vacancy.enddate) }}</dd>
					{% endif %}

					{% if vacancy.street and (vacancy.postalcode or vacancy.city) %}
						<dt class="col-md-3">{{ "vacancy.vacancy.location"|trans }}</dt>
						<dd class="col-md-9">{{ vacancy.street }} {{ vacancy.number }}  {{ vacancy.bus }}
						<br /> {{ vacancy.postalcode }} {{ vacancy.city }}</dd>
					{% endif %}

					<dt class="col-md-3">{{ "vacancy.vacancy.wantseveral"|trans }}</dt>
					<dd class="col-md-9">
						{% if vacancy.stillWanted == 0 %}
							{{ "vacancy.vacancy.filled"|trans }}
						{% elseif vacancy.stillWanted == 1 %}
							{{ vacancy.stillWanted }} {{ "vacancy.vacancy.want1"|trans }}
						{% else %}
							{{ vacancy.stillWanted }} {{ "vacancy.vacancy.wantseveral"|trans }}
						{% endif %}
					</dd>

					{% if vacancy.skills|length > 0 %}
						<dt class="col-md-3">{{ "vacancy.vacancy.categories"|trans }}</dt>
						<dd class="col-md-9">
							<ul class="skills">
								{% for skill in vacancy.skills %}
									<li class="skill_{{ skill.id }}">{{ skill.name }}</li>
								{% endfor %}
							</ul>
						</dd>
					{% endif %}
				</dl>

			</div>


			<footer>
				<div>
					{% if app.user not in vacancy.volunteers %}
						{% if vacancy.stillWanted > 0 %}
							{% if app.user in vacancy.candidates %}
								<a class="cta rood" href="{{ path("vacancy_unsubscribe", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.candremove"|trans }}</a>
							{% else %}
								<a class="cta groen"  href="{{ path("vacancy_subscribe", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.candpose"|trans }}</a>
							{% endif %}
						{% endif %}
					{% endif %}

					{% if app.user in vacancy.volunteers %}
						<a class="cta blauw" href="{{ path("send_testimonial_to_vacancy", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.volunteer.testimonial"|trans }}</a>
					{% endif %}

					{% embed "default/socialshare.html.twig" %}{% endembed %}
				</div>
			</footer>
		</article>

		{% if vacancy.organisation %}
			<aside>{% embed "organisation/vereniging_min.html.twig" with {"organisation": vacancy.organisation, "include": ["website"] }%}{% endembed %}</aside>
		{% endif %}

		{% if admin %}
			<section class="administrators tabblad tiles">
				{% set open = [] %}
				{% set candidates = [] %}
				{% set declined = [] %}
				{% set removed = [] %}
				{% for candidacy in vacancy.candidacies %}
					{% if (candidacy.state == 0) %}
						{% set open = open|merge([candidacy.candidate]) %}
					{% elseif (candidacy.state == 1) %}
						{% set candidates = candidates|merge([candidacy.candidate]) %}
					{% elseif (candidacy.state == 2) %}
						{% set declined = declined|merge([candidacy.candidate]) %}
					{% elseif (candidacy.state == 3) %}
						{% set removed = removed|merge([candidacy.candidate]) %}
					{% endif %}
				{% endfor %}
				{% set activetab = "open" %}
				{% if (open|length == 0) %}
					{% set activetab = "candidates" %}
				{% endif %}
	            <ul class="nav nav-tabs">
	                <li class="paars {% if (activetab == "open") %} active {% endif %}"><a href="#open" data-toggle="tab">{{ "vacancy.approve.open"|trans }} ({{ open|length }})</a></li>
	                <li class="blauw {% if (activetab == "candidates") %} active {% endif %}"><a href="#candidates" data-toggle="tab">{{ "vacancy.approve.candidates"|trans }} ({{ candidates|length }})</a></li>
	                {% if (declined|length > 0) %}<li class="rood {% if (activetab == "declined") %} active {% endif %}"><a href="#declined" data-toggle="tab">{{ "vacancy.approve.declined"|trans }} ({{ declined|length }})</a></li>{% endif %}
	                {% if (removed|length > 0) %}<li class="geel {% if (activetab == "removed") %} active {% endif %}"><a href="#removed" data-toggle="tab">{{ "vacancy.approve.removed"|trans }} ({{ removed|length }})</a></li>{% endif %}
	            </ul>

	            <div class="tab-content clearfix blok special">
	                <div class="tab-pane {% if (activetab == "open") %} active {% endif %}" id="open">
						<div class="blokken">
							{% for candidacy in vacancy.candidacies %}
								{% if (candidacy.state == 0) %}
									{% embed "person/persoon_min.html.twig" with {"person": candidacy.candidate , "contact": true, "cta": [{"href": path('approve_candidacy', {'candidacyId': candidacy.id, "action": "approve"}), "txt": "vacancy.approve.approve"|trans, "class": "groen"}, {"href": path('approve_candidacy', {'candidacyId': candidacy.id, "action": "cancel"}), "txt": "vacancy.approve.cancel"|trans, "class": "rood"}] }%}{% endembed %}
								{% endif %}
							{% endfor %}
						</div>
	                </div>

	                <div class="tab-pane blokken {% if (activetab == "candidates") %} active {% endif %}" id="candidates">
	                	<div class="blokken">
							{% for candidacy in vacancy.candidacies %}
								{% if (candidacy.state == 1) %}
									{% embed "person/persoon_min.html.twig" with {"person": candidacy.candidate , "contact": true, "cta": {"href": path('approve_candidacy', {'candidacyId': candidacy.id, "action": "remove"}), "txt": "vacancy.approve.remove"|trans, "class": "rood"} }%}{% endembed %}
								{% endif %}
							{% endfor %}
						</div>
	                </div>

	                <div class="tab-pane {% if (activetab == "declined") %} active {% endif %}" id="declined">
	                	<div class="blokken">
							{% for candidacy in vacancy.candidacies %}
								{% if (candidacy.state == 2) %}
									{% embed "person/persoon_min.html.twig" with {"person": candidacy.candidate , "contact": true, "cta": {"href": path('approve_candidacy', {'candidacyId': candidacy.id, "action": "approve"}), "txt": "goedkeuren", "class": "groen"} }%}{% endembed %}
								{% endif %}
							{% endfor %}
						</div>
	                </div>

	                <div class="tab-pane {% if (activetab == "removed") %} active {% endif %}" id="removed">
						<div class="blokken">
							{% for candidacy in vacancy.candidacies %}
								{% if (candidacy.state == 3) %}
									{% embed "person/persoon_min.html.twig" with {"person": candidacy.candidate , "contact": true, "cta": [{"href": path('approve_candidacy', {'candidacyId': candidacy.id, "action": "approve"}), "txt": "vacancy.approve.restore"|trans, "class": "groen"}] }%}{% endembed %}
								{% endif %}
							{% endfor %}
						</div>
	                </div>

				</div>

			</section>

			<section class="administrators blok">
				<a class="cta groen" href="{{ path("vacancy_edit", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.admin.modify"|trans }}</a>

				{% if vacancy.published != 4 %}
					<a class="cta rood" href="{{ path('delete_vacancy', {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.admin.delete"|trans }}</a>
				{% endif %}

				<a class="cta blauw" href="{{ path("send_testimonial_to_volunteer", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.admin.testimonial"|trans }}</a>
			</section>
		{% endif %}

        {# --------------------------- TESTIMONIALS  ------------------------------------- #}

        {{ render(controller("AppBundle:Vacancy:listTestimonials", { "vacancy": vacancy} )) }}


    </div>
{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
