{% trans_default_domain "views" %}
{% if not cta is defined %}
    {% set cta = {
        "href": path("vacancy_by_urlid", { "urlid": vacancy.urlId }),
        "txt": 'lees meer'
    } %}
{% endif %}
<article class="vacature cta">
    {% if app.user in vacancy.likers %}
        <a class="fav liked" title="Verwijder uit bewaarde vacatures" href="{{ path("vacancy_save", {"urlid": vacancy.urlId, "saveaction":"remove" }) }}"><span>{{ "vacancy.min.remove"|trans }}</span></a>
    {% else %}
        <a class="fav notliked" title="Bewaar" href="{{ path("vacancy_save", {"urlid": vacancy.urlId, "saveaction":"save" }) }}"><span>{{ "vacancy.min.save"|trans }}</span></a>
    {% endif %}

    <header>
        <a href="{{ path("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}">
            <h3>{{ vacancy.title}}<span>({{ vacancy.stillWanted }})</span></h3>
        </a>
    </header>
    {% if (vacancy.organisation) %}
        <img src="{{ asset("images/organisations/" ~ vacancy.organisation.logoName) }}" text="logo {{ vacancy.organisation.name }}" alt="logo {{ vacancy.organisation.name }}" class="logo">
    {% endif %}
    <p>{{ vacancy.description|truncate(200, true) }}</p>
    <ul>
        {# TODO: alter dbase to remember and add icons here #}
    </ul>

    <a href="{{ cta.href }}" class="cta">{{ cta.txt }}</a>
    {% if vacancy.published != 4 and (vacancy.organisation) and app.user in vacancy.organisation.administrators %}
        <a href="{{ path('delete_vacancy', {'urlid': vacancy.urlId }) }}">{{ "vacancy.min.delete"|trans }}</a>
    {% endif %}
</article>