{% trans_default_domain "views" %}
{% extends "base.html.twig" %}

{% block title %}{{ vacancy.title }}{% endblock %}

{% block body %}
{% if vacancy.published == 4 %}
	<h1>{{ vacancy.title }}</h1>
	<p>{{ "vacancy.vacancy.removed"|trans }}  {% if (vacancy.organisation) and app.user in vacancy.organisation.administrators %}{{ "vacancy.vacancy.undo"|trans }} <a href="{{ path('restore_vacancy', {'urlid': vacancy.urlId }) }}">{{ "general.button.click"|trans }}</a>.{% endif %}</p>
{% else %}
	<div class="vacaturepage">

		<article class="vacature">
			{% if app.user %}
			    {% if app.user in vacancy.likers %}
			        <a class="fav liked" title="{{ "vacancy.vacancy.remove"|trans }}" href="{{ path("vacancy_save", {"urlid": vacancy.urlId, "saveaction":"remove" }) }}"><span>{{ "vacancy.vacancy.remove"|trans }}</span></a>
			    {% else %}
			        <a class="fav notliked" title="{{ "vacancy.vacancy.save"|trans }}" href="{{ path("vacancy_save", {"urlid": vacancy.urlId, "saveaction":"save" }) }}"><span>{{ "vacancy.vacancy.save"|trans }}</span></a>
			    {% endif %}
		    {% endif %}

			<div class="content">
			    {% for flashMessage in app.session.flashbag.get('approve_message') %}
			        <div class="alert alert-success">
			            <strong>{{ "general.flash.success"|trans }}</strong> {{ flashMessage }}
			        </div>
			    {% endfor %}
			    {% for flashMessage in app.session.flashbag.get('error') %}
			        <div class="alert alert-danger">
			            {{ flashMessage }}
			        </div>
			    {% endfor %}
				<header><h1 id="vacancy_title">{{ vacancy.title }}</h1></header>
				<dl>
					{% if vacancy.summary %}
						<dt class="col-md-3">{{ "vacancy.vacancy.summary"|trans }}</dt>
						<dd class="col-md-9">{{ vacancy.summary }}</dd>
					{% endif %}

					<dt class="col-md-3">{{ "vacancy.vacancy.description"|trans }}</dt>
					<dd class="col-md-9">{{ vacancy.description }}</dd>

					{% if vacancy.startdate %}
						<dt class="col-md-3">{{ "vacancy.vacancy.startdate"|trans }}</dt>
						<dd class="col-md-9">{{ vacancy.startdate|date("Y-m-d") }}</dd>
					{% endif %}
					{% if vacancy.enddate %}
						<dt class="col-md-3">{{ "vacancy.vacancy.enddate"|trans }}</dt>
						<dd class="col-md-9">{{ vacancy.enddate|date("Y-m-d") }}</dd>
					{% endif %}

					{% if vacancy.street and (vacancy.postalcode or vacancy.city) %}
						<dt class="col-md-3">{{ "vacancy.vacancy.location"|trans }}</dt>
						<dd class="col-md-9">{{ vacancy.street }} {{ vacancy.number }}  {{ vacancy.bus }}
						<br /> {{ vacancy.postalcode }} {{ vacancy.city }}</dd>
					{% endif %}

					<dt class="col-md-3">{{ "vacancy.vacancy.wantseveral"|trans }}</dt>
					<dd class="col-md-9">
						{% if vacancy.stillWanted == 0 %}
							{{ "vacancy.vacancy.filled"|trans }}
						{% elseif vacancy.stillWanted == 1 %}
							{{ vacancy.stillWanted }} {{ "vacancy.vacancy.want1"|trans }}
						{% else %}
							{{ vacancy.stillWanted }} {{ "vacancy.vacancy.wantseveral"|trans }}
						{% endif %}
					</dd>

					{% if vacancy.skills|length > 0 %}
						<dt class="col-md-3">{{ "vacancy.vacancy.categories"|trans }}</dt>
						<dd class="col-md-9">
							<ul class="skills">
								{% for skill in vacancy.skills %}
									<li>{{ skill.name }}</li>
								{% endfor %}
							</ul>
						</dd>
					{% endif %}
				</dl>

			</div>


			<footer>
				<div>
					{% if app.user in vacancy.candidates %}
						<a class="cta rood" href="{{ path("vacancy_unsubscribe", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.candremove"|trans }}</a>
					{% else %}
						<a class="cta groen"  href="{{ path("vacancy_subscribe", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.candpose"|trans }}</a>
					{% endif %}

					{% embed "default/socialshare.html.twig" %}{% endembed %}
				</div>
			</footer>
		</article>

		{% if vacancy.organisation %}
			<aside>{% embed "organisation/vereniging_min.html.twig" with {"organisation": vacancy.organisation, "include": ["website"] }%}{% endembed %}</aside>
		{% endif %}

		{% if vacancy.organisation and app.user in vacancy.organisation.administrators %}
			<section class="administrators blok">
				<ul>
					<li><a href="{{ path("vacancy_edit", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.admin.modify"|trans }}</a></li>
					<li><a href="{{ path("vacancy_candidacies", {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.admin.select"|trans }}</a></li>
						{% if vacancy.published != 4 %}
							<li><a href="{{ path('delete_vacancy', {'urlid': vacancy.urlId }) }}">{{ "vacancy.vacancy.admin.delete"|trans }}</a></li>
						{% endif %}
				</ul>
			</section>
		{% endif %}

	</div>
{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
