{% extends 'base.html.twig' %}

{% block title %}Vacature Aanpassen{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashbag.get('success-notice') %}
        <div class="success-notice">
            <script type="text/javascript">alert("{{ flash_message }}");</script>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.enddate) }}

    {{ form_end(form) }}

    <form action="{{ path("vacancy_by_urlid", {"urlid": urlid }) }}">
        <input type="submit" value="Annuleren"/>
    </form>
{% endblock %}