<article class="vacature cta">
    {% if app.user in vacancy.likers %}
        <a class="fav liked" href="{{ path("vacancy_like", {"urlid": vacancy.urlId, "likeunlike":"unlike" }) }}"><span>Ontwaar</span></a>
    {% else %}
        <a class="fav notliked"  href="{{ path("vacancy_like", {"urlid": vacancy.urlId, "likeunlike":"like" }) }}"><span>Bewaar</span></a>
    {% endif %}

    <header>
        <a href="{{ path("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}">
            <h3>{{ vacancy.title}}<span>({{ vacancy.stillWanted }})</span></h3>
        </a>
    </header>
    {% if (vacancy.organisation) %}
        <img src="{{ asset("images/organisations/" ~ vacancy.organisation.logoName) }}" text="logo {{ vacancy.organisation.name }}" alt="logo {{ vacancy.organisation.name }}" class="logo">
    {% endif %}
    <p>{{ vacancy.description|truncate(200, true) }}</p>
    <ul>
        {# TODO: alter dbase to remember and add icons here #}
    </ul>

    <a href="{{ path("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}" class="cta">lees meer</a>
    {% if vacancy.published != 4 and (vacancy.organisation) and app.user in vacancy.organisation.administrators %}
        <a href="{{ path('delete_vacancy', {'urlid': vacancy.urlId }) }}">delete</a>
    {% endif %}
</article>