{% extends 'base.html.twig' %}

{% block title %}Vacature{% endblock %}

{% block body %}
	<article>
		<header><h1 id="vacature-title">{{ vacature.title }}</h1></header>
		<h2>created on {{ vacature.creationtime|date('Y-m-d') }}</h2>
		<div>
			<p id="vacature-description">{{ vacature.description }}</p>
			<p>Ons aanbod:</p>
		</div>
		<div>
			<p id="vacature-startdate">Vervaldatum: {{ vacature.startdate|date('Y-m-d') }}</p>
			<p id="vacature-organisation">Organisatie: {{ vacature.organisation.name }}</p>
			<p id="vacature-contact">Locatie: {{ vacature.organisation.contact.address }}</p>
		</div>
		<div class="share-buttons">
			<div>
				<a id="tweet" href="https://twitter.com/share" class="twitter-share-button" data-url="{{ app.request.uri }}"
				   data-text="Bekijk deze vrijwilligersvacature:" data-lang="nl" data-hashtags="RoeselareVrijwilligt">
				Tweeten</a>
			</div>
			<div class="g-plus" data-action="share" data-annotation="bubble"></div>
			<div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<div><script id="share-linkedin" type="IN/Share" data-counter="right"></script></div>
			<div>
				<button id="email">Email deze vacature</button>
			</div>
		</div>
		<aside>
			{% for category in vacature.category %}
				<p>category</p>
			{% endfor %}
		</aside>
		{# nog het id hidden toevoegen of andere
		manier om het weer te geven#}
		<footer>{% block vacature_cta %}
				<button>Stel je kandidaat</button>
				<form action="{{ path('vacancy_pdf', {'id': vacature.id}) }}" target="_blank">
					<input type="submit" value="Print deze vacature"/>
				</form>
			{% endblock %}</footer>
	</article>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/jquery-1.12.2.min.js') }}"></script>
	<script src="https://apis.google.com/js/platform.js" async defer>{lang: 'nl'}</script>
	<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: nl_NL</script>
	<script src="{{ asset('js/sharebuttons.js') }}"></script>
{% endblock %}
