{% trans_default_domain "views" %}
{% extends "base.html.twig" %}

{% block title %}{{ "person.profile.name"|trans }}{% endblock %}

{% block body %}
    <section class="steps">
        <div class="col-md-12">
            <h2 class="steptitle rood">Wachtwoord veranderen</h2>
            <div class="step actief grijs rood">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/forms.js") }}"></script>
{% endblock %}
