{% trans_default_domain "validators" %}

<form action="{{ path("login") }}" method="post">
    <div class="col-md-6">
        <h2 class="steptitle blauw">{{ "def.index.logintitle"|trans({}, "views") }}</h2>
        <div class="step actief grijs blauw">
            <fieldset>
                <div class="lbl"><label for="username">{{ "def.index.id"|trans({}, "views") }}:</label></div>
                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{"person.placeholder.username"|trans}}"/>

                <div class="lbl"><label for="password">{{ "def.index.phrase"|trans({}, "views") }}:<span class="info" title="Een wachtzin is het &#039;nieuwe en veilige wachtwoord&#039;. In plaats van één woord gebruikt u een volledige zin. Deze is makkelijker te onthouden en moeilijker te hacken. "></span></label></div>
                <input type="password" id="password" name="_password" placeholder="{{"person.placeholder.password"|trans}}"/>



                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, "security") }}</div>
                {% endif %}

                <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}">

                {% if path %}
                    <input type="hidden" name="_target_path" value="{{ path }}" />
                {% endif %}
                <button type="submit">{{ "def.index.login"|trans({}, "views") }}</button>
                <a href="{{ path('request_recover') }}">Paswoord vergeten?</a>
            </fieldset>
        </div>
    </div>

    <div class="col-md-6">
        <h2 class="steptitle blauw">{{ "def.index.external"|trans({}, "views") }}</h2>
        <div class="step actief grijs blauw">
            <fieldset class="oauthlogin">
                <a href="{{ path("oauth_google") }}" class="googlelogin">{{ "def.index.google"|trans({}, "views") }}</a>
                <a href="{{ path("oauth_facebook") }}" class="fblogin">{{ "def.index.fb"|trans({}, "views") }}</a>
            </fieldset>
        </div>
    </div>

    <div class="col-md-12">
        <h2 class="steptitle rood">{{ "def.index.none"|trans({}, "views") }}</h2>
        <div class="step actief grijs">
            <fieldset>
                <p><a href="{{ path("register_user") }}" class="cta">{{ "def.index.create"|trans({}, "views") }}</a></p>
            </fieldset>
        </div>
    </div>
</form>

<script type="in/Login"></script>
