{% trans_default_domain "validators" %}
{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}
{% block head %}
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   {{ linkedin_id }}
    onLoad:    SocialMediaLogin.linkedin.onlLinkedInLoad
    authorize: false
    lang:      en_US
</script>
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, "security") }}</div>
    {% endif %}

    <form action="{{ path("login") }}" method="post">
        <!-- <label for="username">Username:</label> -->
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{"person.placeholder.username"|trans}}"/>

        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" name="_password" placeholder="{{"person.placeholder.password"|trans}}"/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token("authenticate") }}"    >
        <input type="hidden" name="_target_path" value="self_profile" />

        <button type="submit">login</button>
    </form>
    <p><a href="{{ path("register_user") }}">maak een account</a></p>

    <fb:login-button scope="public_profile,email" onlogin="SocialMediaLogin.facebook.checkLoginState">
    </fb:login-button>

    <div class="g-signin2" data-onsuccess="SocialMediaLogin.google.onSignIn" data-theme="dark"></div>

<a href="{{ path("oaut_google") }}">inloggen via Google</a> / 
<a href="{{ path("oaut_facebook") }}">inloggen via Facebook</a>

    <script type="in/Login"></script>

    {% block javascripts %}
        {{ parent() }}
        <script>window.fb_id = {{ fb_id }};</script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="{{ asset("js/social_media_login.js") }}"></script>
    {% endblock %}

{% endblock %}
