{% trans_default_domain "views" %}
{% extends 'base.html.twig' %}

{% block title %}{{ "security.status.title"|trans }}{% endblock %}

{% block body %}
        <br />
        {% if app.user is not null %}
            {{ "security.status.hi"|trans }} {{ app.user.username }}
            <br />
            {{ "security.status.userdata"|trans }}: {{ app.user }}
            <hr />

            <h4>{{ "security.status.myorg"|trans }}</h4>
            <ul>
                {#TODO only text if it has values#}
                {% for organisation in myOrganisations %}
                    <li>
                        {{ organisation.name }} <br/>{{ "security.status.currentvacancies"|trans }}:
                        <ul>
                        {% for vacancy in organisation.vacancies  %}
                            {#TODO: edit button, waiting on koen merge#}
                            <li>{{ vacancy.title }}
                                <a href="{{ path("vacancy_candidacies",{'urlid' :vacancy.id}) }}">{{ "security.status.approve"|trans }}</a>
                                {#<a href="{{ path("vacancy_edit",vacancy.id)}}">edit</a>#} <br/>{{ "security.status.candidates"|trans }}:</li>
                                <ul>
                                    {% for candidacy in vacancy.candidacies %}
                                        <li>
                                            {{ candidacy.candidate.firstname }} {{ candidacy.candidate.lastname }}
                                            {{ "security.status.status"|trans }}: {{ (candidacy.state) ? {{ "security.status.approved"|trans }} : {{ "security.status.pending"|trans }} }}
                                        </li>
                                    {% endfor %}
                                </ul>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {{ "security.status.loggedout"|trans }}
        {% endif %}
{% endblock %}
