{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login_testing') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"    >
        <button type="submit">login</button>
    </form>
 

    <fb:login-button scope="public_profile,email" onlogin="facebook.checkLoginState();">
    </fb:login-button>

    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

        INFO: Deze login zal NIET werken als dit draait op localhost.
        De API's werkt enkel op de ingegeven URL.
        (Op dit moment staat de URL op koen.ml (mijn site, als test).
 

    {% block javascripts %}
        <script src="{{ asset('js/jquery-1.12.2.min.js') }}"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="{{ asset('js/social_media_login.js') }}"></script>
    {% endblock %}

{% endblock %}
