{% extends 'base.html.twig' %}

{# currently not in use #}

{% block title %}register{% endblock %}

{% block body %}
	{{ form_start(form) }}
	    {{ form_row (form.firstname) }}
	    {{ form_row (form.lastname) }}
	    {{ form_row (form.username) }}
	    {{ form_row (form.email) }}
	    {{ form_row (form.plainPassword.first) }}
	    {{ form_row (form.plainPassword.second) }}
	    {{ form_row (form.termsAccepted) }}
	    <button type="submit">Register</button>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{  parent() }}
	<script src="{{ asset('js/validation.js') }}"></script>
{% endblock %}
