{% trans_default_domain "views" %}
<h2>{{ person.firstname}} {{ person.lastname}}</h2>
{{ "person.general.firstname"|trans|capitalize }}: {{ person.firstname }}<br />
{{ "person.general.sirname"|trans|capitalize }}: {{ person.lastname }}<br />
{{ "person.general.username"|trans|capitalize }}: {{ person.username }}<br />
{{ "person.general.fullname"|trans|capitalize }}: {{ person.getFullName() }}
