<h2><a href="{{ path('person_username', { 'username': person.username }) }}">{{ person.firstname}} {{ person.lastname}}</a></h2>
voornaam: {{ person.firstname }}<br />
familienaam: {{ person.lastname }}<br />
gebruikersnaam: {{ person.username }}<br />
volledige naam: : {{ person.getFullName() }}
