<h2><a href="{{ path("person_id", { "id": person.id }) }}">{{ person.firstname}} {{ person.lastname}}</a></h2>
voornaam: {{ person.firstname }}<br />
familienaam: {{ person.lastname }}<br />
gebruikersnaam: {{ person.username }}<br />
volledige naam: {{ person.getFullName() }}
