<article>
	<header><h1><a href="{{ path("vacancy_by_urlid", { "urlid": vacancy.urlId }) }}">{{ vacancy.title }}</a></h1></header>
	<div>
		<p>{{ vacancy.description }}</p>
		<p>Ons Aanbod</p>
	</div>
	<div>
		<p>vervaldatum: {{ vacancy.startdate|date("Y-m-d") }}</p>
		<p>organisatie: {{ vacancy.organisation.name }}</p>
		<p>locatie: {{ vacancy.organisation.street }}</p>
	</div>
</article>
