<article>
	<header><h1><a href="{{ path('vacancy_id', { 'id': vacature.id }) }}">{{ vacature.title }}</a></h1></header>
	<div>
		<p>{{ vacature.description }}</p>
		<p>Ons Aanbod</p>
	</div>
	<div>
		<p>vervaldatum: {{ vacature.startdate|date('Y-m-d') }}</p>
		<p>organisatie: {{ vacature.organisation.name }}</p>
		<p>locatie: {{ vacature.organisation.street }}</p>
	</div> 
</article>