{% for result in results %}
    <div class="display_box" align="left">
		{% if (result.isoftype("Person")) %}
			<b>{{ result.firstname}} {{ result.lastname}}</b>
			<br />
			<input type="hidden" id="referer" value="{{ path('person_username', { 'username': result.username }) }}" />
		{% elseif (result.isoftype("Vacancy")) %}
			<b>{{ result.title }}</b>
			<br />
			<input type="hidden" id="referer" value="{{ path('vacancy_title', { 'title': result.title }) }}" />
		{% elseif (result.isoftype("Organisation")) %}
			<b>{{ result.name }}</b>
			<br />
			<input type="hidden" id="referer" value="{{ path('organisation_name', { 'name': result.name }) }}" />
		{% else %}
			{#{ dump(result) }#}
		{% endif %}
    </div>
{% endfor %}
