{% for result in results %}
    <div class="display_box" align="left">
		{% if (result.class_name == "Person") %}
			<b>{{ result.entity.firstname}} {{ result.entity.lastname}}</b>
			<br />
			<input type="hidden" id="referer" value="{{ path('person_username', { 'username': result.entity.username }) }}" />
		{% elseif (result.class_name == "Vacancy") %}
			<b>{{ result.entity.title }}</b>
			<br />
			<input type="hidden" id="referer" value="{{ path('vacancy_title', { 'title': result.entity.title }) }}" />
		{% elseif (result.class_name == "Organisation") %}
			<b>{{ result.entity.name }}</b>
			<br />
			<input type="hidden" id="referer" value="{{ path('organisation_name', { 'name': result.entity.name }) }}" />
		{% else %}
			{#{ dump(result) }#}
		{% endif %}
    </div>
{% endfor %}
