{% trans_default_domain "views" %}
<ul>
{% if results|length == 0 %}<li><span>{{ "search.noresults"|trans }}</span></li>{% endif %}
{% for result in results %}
	<li>
		{% if (result.isoftype("Person")) %}
			<a class="person" href="{{ path("person_username", { "username": result.username }) }}">{{ result.firstname}} {{ result.lastname}}</a>
		{% elseif (result.isoftype("Vacancy")) %}
			<a class="vacancy" href="{{ path("vacancy_by_urlid", { "urlid": result.urlId }) }}">{{ result.title}}</a>
		{% elseif (result.isoftype("Organisation")) %}
			<a class="organisation" href="{{ path("organisation_by_urlid", { "urlid": result.name }) }}">{{ result.name }}</a>
		{% else %}
			{#{ dump(result) }#}
		{% endif %}
    </li>
{% endfor %}
</ul>